
<!-- Preload section
================================================== -->
<!--<div class="preload">-->
<!--<div class="sk-spinner sk-spinner-pulse"></div>-->
<!--</div>-->

<!-- Navigation section
================================================== -->
<div class="nav-container">
    <nav class="nav-inner transparent">
        <div class="navbar">
            <div class="container">
                <div class="row">
                    <div class="brand">
                        <a href="/">Gallery Shop</a>
                    </div>
                    <div class="navicon">
                        <div class="menu-container">
                            <div class="circle dark inline">
                                <i class="icon ion-navicon"></i>
                            </div>
                            <div class="list-menu">
                                <i class="icon ion-close-round close-iframe"></i>
                                <div class="intro-inner">
                                    <ul id="nav-menu">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/receiveTimToken">Receive TIM TOKENS</a></li>
                                        <li><a href="/upload">UPLOAD IMAGE</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>