
<div id="wrapper">
    <!-- ****** Welcome Slides Area Start ****** -->
    <section class="welcome_area">
        <div id="afterPresales" class="slide currentSlide">
            <video autoplay muted loop id="myVideo">
                <source src="/img/core-img/bg2.mp4" type="video/mp4">
            </video>
            <div id="particles-js" class="particles-container particles-js" style="position: absolute; width: 100%"></div>



            <div class="container-fluid">
                <!--<canvas style="position: absolute; width: 100%"></canvas>-->
                <div class="row align-center">
                    <div class="col-md-11 col-sm-11 col-sm-offset-1 ">
                        <b><span class="txt-rotate header-font" data-period="2000" data-rotate='[ "TIM TOKENS.", "Create by Mr. Siriphat Homnan", "Final Project in 2019.", "Project Advisee: Dr. Ratsameetip Wita"]' style="font-size: 5rem; padding: 2%;"  >FINAL PROJECT</span>
                        </b>
                        <!--<div class="typewriterHolder"><h1 id="typewriter">Final Project in</h1><span class="typed-cursor">|</span></div>-->
                        <br>
                    </div>
                </div>
                <div class="row" style="padding-top: 5%;">

                    <div class="col-sm-5 col-sm-offset-1">

                        <div class="conterHolder">
                            <h4 class="tokenSaleLive">The Token Sale concluded on <span>21/05/2019</span>.</h4>
                            <div class="counterInner">
                                <h4 class="subTitle">Thank you for participating</h4>
                                <div id="tokenSale-started" class="conterBoxesHolder clearfix"><div class="counterElement"><span class="counterDigit">0</span><span class="counterText">Days</span></div><div class="counterSepartor"> : </div><div class="counterElement"><span class="counterDigit">00</span><span class="counterText">Hours</span></div><div class="counterSepartor"> : </div><div class="counterElement"><span class="counterDigit">00</span><span class="counterText">Minutes</span></div><div class="counterSepartor"> : </div><div class="counterElement"><span class="counterDigit">00</span><span class="counterText">Seconds</span></div></div>
                                <script type="text/javascript">
                                    $('#tokenSale-started').countdown('2019/05/21', function (event) {
                                        $(this).html(event.strftime('<div class="counterElement"><span class="counterDigit">%-D</span><span class="counterText">Days</span></div><div class="counterSepartor"> : </div><div class="counterElement"><span class="counterDigit">%H</span><span class="counterText">Hours</span></div><div class="counterSepartor"> : </div><div class="counterElement"><span class="counterDigit">%M</span><span class="counterText">Minutes</span></div><div class="counterSepartor"> : </div><div class="counterElement"><span class="counterDigit">%S</span><span class="counterText">Seconds</span></div>'));
                                    });
                                </script>
                                <div class="text-center">
                                    <button type="button" class="buyToken" data-toggle="modal" data-target="#myModal1">
                                        Buy Tokens
                                    </button>
                                    <button type="button" class="joinWhiteList button" data-toggle="modal" data-target="#myModal2">
                                        Sell Tokens
                                    </button>
                                </div>
                            </div>
                            <div class="progressBar-holder">
                                <p>100,000,000,000 TIM will circulate. </p>

                                <div class="progressBarInner">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 414.67%;"></div>
                                    </div>
                                    <span class="progressLimit" style="left: 0;">Pre-sale</span>
                                    <span class="progressLimit" style="left: 15%;">Crowd sale</span>
                                    <span class="progressLimit" style="right: 0;">Minimum Funding Reached</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <div>
                            <img src="https://www.redcab.io/images/afterPresales-symbol.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="presalesFooter"></div>
        </div>
    </section>

    <section>
        <div id="seventh" class="slide" >

            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4 col-sm-push-8 align-center">
                        <h1><span class="icon-pluse"></span> Global Reach</h1>
                        <h3 class="align-center" style="text-align: center"><span style="text-align: center">01</span> Locations</h3>
                        <div class="panel-group" id="locationAcc" role="tablist" aria-multiselectable="true">
                            <div class="panel">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <div class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#locationAcc" href="#Asiapacific" aria-expanded="false" aria-controls="Asiapacific" data-regiontarget="Asiapacific"> Asia Pacific</a>
                                    </div>
                                </div>
                                <div id="Asiapacific" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <a class="locationBtn" data-countrytarget="India"> Thailand</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-pull-4 align-center">
                        <div class="worldMapHolder">
                            <div class="worldMapMask"></div>
                            <div class="worldMap animateMap" data-currentlocation="">
                                <div class="worldMapLight"></div>
                                <div class="locationPin India" data-region="Asiapacific" data-country="India"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="eighth" class="slide" style="color: white" >
            <div class="artisticCircle"></div>
            <div class="container-fluid">
                <div class="row" style="padding-top: 10%;">
                    <div class="col-sm-6 col-sm-offset-1">
                        <canvas style="position: absolute"></canvas>
                        <h1><span class="icon-pluse"></span>ICO Details</h1>
                        <table class="tbl" style="width: 100%;">
                            <tbody><tr>
                                <td colspan="2"><h4>Token info</h4></td>
                            </tr>
                            <tr>
                                <td>Token</td>
                                <th>TIM</th>
                            </tr>
                            <tr>
                                <td>Platform</td>
                                <th>Ethereum</th>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <th>ERC20</th>
                            </tr>
                            <tr>
                                <td>Token Address</td>
                                <th style="font-size: 1rem">0x3c963a1759c5af9f63e42e2b5c2a409961c6c65c</th>
                            </tr>


                            </tbody></table>
                        <table class="tbl">
                            <tbody><tr>
                                <td colspan="2"><h4>Investment info</h4></td>
                            </tr>
                            <tr>
                                <td>Circulating Supply</td>
                                <th>100,000,000,000 TIM</th>
                            </tr>

                            </tbody></table>
                    </div>
                </div>

                <div class="row" style="padding-top: 5%;">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h2 class="text-center">Exchanges listing will be announced on our Social Media Channels</h2>
                        <p class="text-center">
                            Follow us on <a href="/">Facebook</a> and stay updated
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="tenth" class="slide" >
            <div id="team" class="container-fluid">
                <div class="team">
                    <h1 class="headTitle withLine"><span class="icon-pluse"></span>Team</h1>
                    <div class="clearfix">
                        <div class="col-sm-6 col-xs-6"><div class="member">
                            <div class="imgHolder">
                                <img src="/img/core-img/tim.jpg">
                                <div class="infoHolder">
                                    <a target="_blank" href="https://www.facebook.com/Nefarious.Tim" class="infoLink"><i class="fab fa-facebook-f"></i></a>
                                </div>
                            </div>

                            <h1>Mr. Siriphat Homnan</h1>
                            <p>Programmer</p>
                        </div></div>
                        <div class="col-sm-6 col-xs-6"><div class="member">
                            <div class="imgHolder">
                                <img src="/img/core-img/advisee.jpg">
                                <div class="infoHolder">
                                    <a target="_blank" href="https://www.facebook.com/ratsameetip.wita" class="infoLink"><i class="fab fa-facebook-f"></i></a>

                                </div>
                            </div>
                            <h1>Dr. Ratsameetip Wita</h1>
                            <p>Project Advisee</p>

                        </div></div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>

<!-- The Modal -->
<div class="modal fadeIn" id="myModal1" style="color: black;">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="color: black;">BUY TIM TOKENS</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" >
                <center>
                    <span style="font-size: 1.5rem; color: black;" >PAY ETH TO ADDRESS: 0x88D1c3eb41ECADdb6dd8797F1661Bdd2eC31047B </span>
                    <form class="form-inline align-center" style="padding-top: 5%;">
                        <div class="row">
                            <input id="addressSenderBuy" style="width: 40%; padding: 2%;" placeholder="YOUR ADDRESS">
                            <input id="ethBuy"  style="width: 15%; padding: 2%;" placeholder="ETH">
                            <input id="timBuy"  style="width: 15%; padding: 2%;" placeholder="TIM TOKENS" disabled>
                            <input id="buy" value="buy" hidden>
                        </div>
                        <a href="#" id="confirmBuy" class="buyToken"  placeholder="ETH">CONFIRM</a>
                    </form>
                </center>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fadeIn" id="myModal2" style="color: black;">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="color: black;">SELL TIM TOKENS</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <center>
                    <span style="font-size: 1.5rem; color: black;" >PAY TIM TOKENS TO ADDRESS: 0x88D1c3eb41ECADdb6dd8797F1661Bdd2eC31047B </span>
                    <form class="form-inline align-center" style="padding-top: 5%;">
                        <div class="row">
                            <input id="addressSenderSell" style="width: 40%; padding: 2%;"  placeholder="YOUR ADDRESS">
                            <input id="ethSell"  style="width: 10%; padding: 2%;" placeholder="ETH" disabled>
                            <input id="timSell"  style="width: 10%; padding: 2%;"  placeholder="TIM TOKENS" >
                            <input id="sell"  value="sell" hidden>
                        </div>
                        <a href="#" id="confirmSell" class="buyToken"  placeholder="ETH">CONFIRM</a>
                    </form>
                </center>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fadeIn" id="myModalEmail" style="color: black;">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="color: black;">SEND EMAIL</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" >
                <center>
                    <span style="font-size: 2.5rem; color: black;">SEND EMAIL TO SIRIPHAT_HOMNAN@HOTMAIL.COM <br>RECEIVE TIM TOKENS</span>
                    <form class="form-inline" method="post" style="padding-top: 5%;">
                        <div class="row">
                            <input id="email" name="email" type="email" style="width: 50%; padding: 2%;" placeholder="EMAIL ADDRESS"><br>
                            <input id="password" name="password" style="width: 50%; padding: 2%;" type="password" placeholder="PASSWORD"><br>
                            <textarea  name="message" id="message" rows="10" style="width: 50%; padding: 2%;"></textarea><br>
                        </div>
                        <!--disabled-gray add to below class-->
                        <div class="row">
                            <input id="transaction" name="transaction"  type="text" style="width: 50%; padding: 2%;" placeholder="TRANSACTION" hidden><br>
                            <input  id="ethShow" name="ethShow"  style="width: 50%; padding: 2%;" placeholder="ETH" hidden><br>
                            <input  id="timShow" name="timShow"  style="width: 50%; padding: 2%;" placeholder="TIM TOKENS" hidden><br>
                            <input  id="type" name="type" hidden><br>

                            <button class="buyToken" name="sendEmail" id="sendEmail">SEND EMAIL</button><br>
                        </div>
                    </form>
                </center>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fadeIn" id="waitAdmin" style="color: black;">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="color: black;">Wait admin</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" >
                <center>
                    <h3>
                        Wait admin to check transaction.
                    </h3>
                </center>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fadeIn" id="checkEmail" style="color: black;">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" style="color: black;">Wait admin</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body" >
                <center>
                    <h3>
                        Check your email and password.
                    </h3>
                </center>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


