
    <section class="welcome_area">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                    <h1>Wait admin to check transaction.</h1>
                </div>
            </div>
        </div>
    </section>

