a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	line-height: 150%;
	color: #fff
}

.ulList,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
	padding: 0;
	margin: 0
}

.input-group,
label {
	display: block
}

body,
html {
	margin: 0;
	padding: 0;
	min-height: 100%
}

body {
	color: #fff;
	font-family: robotoregular, Tahoma, Geneva, sans-serif;
	font-size: 16px;
	margin: 0 auto;
	background-color: #171717;
	overflow-x: hidden
}

#header .navHolder #nav .whitePaper,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: robotobold, Tahoma, Geneva, sans-serif
}

h2 {
	font-size: 26px
}

h4 {
	font-size: 20px
}

h5 {
	font-size: 16px
}

h6 {
	font-size: 14px
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	font-size: inherit;
	font-family: inherit;
	font-style: inherit;
	font-weight: inherit;
	color: inherit;
	text-decoration: none
}

a,
p,
span {
	font-family: robotolight, Tahoma, Geneva, sans-serif;
	/*font-size: 16px*/
}

p {
	text-align: left;
	font-family: open_sansregular, Tahoma, Geneva, sans-serif
}

h1.headTitle,
h1.underline,
label {
	text-align: center
}

a {
	color: #fff;
	outline: 0;
	text-shadow: none;
	text-decoration: none;
	cursor: pointer
}

a:focus,
a:focus span,
a:hover,
a:hover span {
	color: #fff;
	outline: 0;
	text-decoration: none
}

#eighth .chartsHolder h2,
#news .newsHolder .newsBox:hover .newsTitle,
h1.underline {
	text-decoration: underline
}

a img {
	border: 0
}

img {
	max-width: 100%;
	height: auto
}

.ulList {
	list-style: none
}

.ulList li:before {
	content: initial
}

.clear {
	clear: both;
	float: none
}

.uneditable-input,
input[type=time],
input[type=week],
input[type=number],
input[type=email],
input[type=url]input[type=search],
input[type=tel],
input[type=color],
input[type=text],
input[type=password],
input[type=datetime],
input[type=datetime-local],
input[type=date],
input[type=month],
select,
textarea {
	font-family: robotolight, Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-weight: 400;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 1px solid #ddd
}

label {
	padding: 5px 0
}

input.inputText,
select.select {
	padding: 3px 3%;
	width: 100%;
	color: #9e9e9e
}

input.inputText {
	line-height: 120%
}
input, select, textarea {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

textArea.textArea {
	width: 100%;
	padding: 10px 3%;
	resize: vertical;
	height: 100px;
	color: #9e9e9e
}

.btn.focus,
.btn:focus,
.btn:hover,
.tracer,
input.btn {
	color: #fff
}

input.btn {
	background: #fa3930;
	font-family: robotoregular, Tahoma, Geneva, sans-serif;
	font-size: 14px;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 5px 15px;
	margin: 0
}

.preloader,
.tracer {
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #171717
}

.tracer {
	z-index: 11;
	padding: 5px
}

.coloredHeadTitle,
.scrollToTop {
	color: #fa3930
}

.preloader {
	right: 0;
	top: 0;
	z-index: 99
}

.preloader .preloaderIcon {
	position: absolute;
	left: 50%;
	top: 35%;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	background: url(https://www.redcab.io/images/logoSymbol_ragy.svg) center center no-repeat;
	background-size: 100% auto;
	-webkit-animation: preloader 1.25s infinite linear;
	animation: preloader 1.25s infinite linear
}

@keyframes preloader {
	0%,
	100% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0)
	}
	50% {
		-webkit-transform: rotateY(90deg);
		transform: rotateY(90deg)
	}
}

.dropdown-menu {
	background-color: #171717
}

h1 {
	font-size: 50px;
	text-transform: uppercase
}

h1.underline,
h3 {
	font-family: robotolight, Tahoma, Geneva, sans-serif;
	font-size: 30px
}

h1.headTitle.withLine {
	position: relative;
	margin-bottom: 55px
}

h1.headTitle.withLine:before {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 50%;
	width: 70px;
	height: 2px;
	background-color: #fa3930;
	margin-left: -35px
}

h1.underline {
	text-transform: capitalize
}

.scrollToTop {
	position: fixed;
	bottom: 55px;
	right: 20px;
	z-index: 12;
	border: 1px solid #fff;
	background-color: rgba(255, 255, 255, .65);
	padding: 5px 12px;
	width: 48px;
	height: 48px;
	font-size: 20px;
	font-weight: 700;
	display: none
}

.scrollToTop:before {
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	top: 20px;
	left: 12px;
	border-style: solid;
	border-width: 0 10px 10px;
	border-color: transparent transparent #fa3930
}

#header,
object {
	width: 100%
}

.donut-pie-tooltip-bubble {
	background-color: #171717;
	color: #fff;
	font-size: 11px;
	padding: 6px 12px;
	border-radius: 2px;
	box-shadow: 1px 1px 1px 1px rgba(25, 25, 25, .15);
	text-align: left;
	max-width: 240px
}

.container-fluid {
	position: relative;
	z-index: 3
}

.no-padding {
	padding: 0
}

.quoted {
	font-size: 16px;
	text-align: center;
	font-style: italic
}

.quoted span {
	font-size: 28px
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: table
}

#header .logoHolder {
	display: table-cell;
	width: 248px;
	height: 66px
}

#header .logoHolder a {
	display: block;
	padding: 15px
}

#header .navHolder {
	display: table-cell;
	vertical-align: middle;
	padding: 0 15px
}

#header .navHolder button.navbar-toggle {
	background-image: linear-gradient(to bottom, #171717, #000);
	border-color: #000;
	margin: 8px 0 0;
	display: block
}

#header .navHolder .navbar-toggle .icon-bar {
	background-color: #fff
}

#header .navHolder .navbar-collapse {
	display: none!important;
	position: absolute;
	right: 0;
	left: auto;
	top: 100%;
	background-color: #171717;
	width: 250px;
	padding: 15px
}

#header .navHolder .navbar-collapse.in {
	display: table!important
}

#header .navHolder .caret {
	color: #fff
}

#header .navHolder #nav {
	margin: 0;
	min-height: inherit;
	border: 0;
	text-align: right
}

#header .navHolder #nav .whitePaper {
	display: inline-block;
	padding: 10px 25px
}

#header .navHolder #nav .navbar-brand {
	float: none
}

#header .navHolder #nav .navbar-collapse {
	padding: 0
}

#header .navHolder #nav .navbar-nav.navigationBar {
	padding-top: 15px;
	float: none
}

#header .navHolder #nav .mainMenu,
#header .navHolder #nav .navbar-nav.navigationBar>li {
	display: block;
	border-right: 0 none;
	float: none;
	text-align: right
}

#hidden-content,
#hidden-content *,
.buyTokenHolder {
	text-align: center
}

#header .navHolder #nav .mainMenu:last-child,
#header .navHolder #nav .navbar-nav.navigationBar>li:last-child {
	border-right: 0 none
}

#header .navHolder #nav .nav>li>a:focus,
#header .navHolder #nav .nav>li>a:hover {
	color: #fff;
	background: 0 0
}

#header .navHolder #nav .nav .open>a:focus,
#header .navHolder #nav .nav .open>a:hover,
#header .navHolder #nav .open>a {
	color: #fa3930;
	background: 0 0
}

#header .navHolder #nav .mainMenu a,
#header .navHolder #nav .navbar-nav.navigationBar>li a {
	color: #fff;
	font-size: 14px
}

#header .navHolder #nav .mainMenu>a,
#header .navHolder #nav .navbar-nav.navigationBar>li>a {
	text-transform: uppercase;
	text-shadow: 0;
	padding: 15px;
	font-family: robotoregular, Tahoma, Geneva, sans-serif
}

#header .navbar-right li .whitePaper,
.icon-pluse:before {
	font-family: robotobold, Tahoma, Geneva, sans-serif
}

#header .navHolder #nav .mainMenu>a:hover,
#header .navHolder #nav .navbar-nav.navigationBar>li:hover>a:hover {
	background: 0 0;
	color: #fff;
	text-shadow: none;
	font-family: robotobold, Tahoma, Geneva, sans-serif
}

#header .navHolder #nav .mainMenu>a:hover:after,
#header .navHolder #nav .navbar-nav.navigationBar>li:hover>a:hover:after {
	content: "";
	position: absolute;
	bottom: 2.5px;
	left: 50%;
	margin-left: -2.5px;
	width: 5px;
	height: 5px;
	background-color: #fff;
	-webkit-border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

#header .navHolder #nav .navbar-nav.navigationBar>.mainMenu>a.current,
#header .navHolder #nav .navbar-nav.navigationBar>.mainMenu>a.current:focus,
#header .navHolder #nav .navbar-nav.navigationBar>.mainMenu>a.current:hover {
	background: 0 0;
	color: #fa3930;
	position: relative
}

#header .navHolder #nav .navbar-nav.navigationBar>.mainMenu>a.current:after,
#header .navHolder #nav .navbar-nav.navigationBar>.mainMenu>a.current:focus:after,
#header .navHolder #nav .navbar-nav.navigationBar>.mainMenu>a.current:hover:after {
	content: "";
	position: absolute;
	bottom: 2.5px;
	left: 50%;
	margin-left: -2.5px;
	width: 5px;
	height: 5px;
	background-color: #fa3930;
	-webkit-border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

#header .navHolder #nav .navbar-nav.navigationBar .dropdown-menu>li>a:focus,
#header .navHolder #nav .navbar-nav.navigationBar .dropdown-menu>li>a:hover {
	background: #fa3930
}

#header .navHolder #nav .dropdown .dropdown-menu {
	border: 0
}

#header .navHolder #nav .dropdown.open {
	background-color: #171717
}

#header .navbar-right {
	display: none
}

#header .navbar-right li {
	margin-right: 10px
}

#header .navbar-right li a {
	padding: 10px 0
}

#header .navbar-right li .whitePaper {
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	background: #fa3930;
	background: -moz-linear-gradient(top, #fa3930 0, #a60b04 100%);
	background: -webkit-linear-gradient(top, #fa3930 0, #a60b04 100%);
	background: linear-gradient(to bottom, #fa3930 0, #a60b04 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#fa3930, endColorstr=#a60b04, GradientType=0);
	padding: 10px 45px 10px 15px;
	position: relative;
	border: 2px solid #fff;
	-webkit-border-radius: 55px 55px 55px 55px;
	-moz-border-radius: 55px;
	border-radius: 55px;
	margin-top: 15px
}

#header .navbar-right li .icon-whitepaper {
	position: absolute;
	right: 10px;
	top: 6px;
	display: inline-block;
	width: 32px;
	height: 32px
}

ul.withSpecialBullet>li ul li:before,
ul.withSpecialBullet>li:before {
	content: "";
	top: 10px;
	left: 0;
	background-color: #999
}

#header .searchHolder input.btn {
	width: 25%;
	float: right
}

#header .searchHolder input.inputText {
	width: 75%;
	float: right;
	border-right: 0 none;
	padding-top: 0;
	padding-bottom: 0
}

.loginDropDown {
	display: block;
	padding: 20px;
	min-width: 240px
}

.loginDropDown h2 {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase
}

.loginDropDown a {
	display: block;
	margin-bottom: 5px
}

ul.withSpecialBullet {
	padding: 0;
	margin: 0;
	list-style: none
}

ul.withSpecialBullet>li {
	padding: 0 0 10px 40px;
	position: relative;
	border-bottom: 3px solid #333;
	margin-bottom: 10px;
	display: table
}

ul.withSpecialBullet>li:before {
	position: absolute;
	height: 4px;
	width: 30px
}

ul.withSpecialBullet>li:last-child {
	border-bottom: 0 none;
	margin-bottom: 0
}

ul.withSpecialBullet>li ul {
	padding: 0;
	margin: 0 0 0 25px;
	list-style: none
}

ul.withSpecialBullet>li ul li {
	position: relative;
	padding: 0 0 0 25px
}

ul.withSpecialBullet>li ul li:before {
	position: absolute;
	height: 2px;
	width: 15px
}

.owl-bannerCarousel .owl-pagination {
	position: absolute;
	bottom: -60px;
	left: 20px;
	right: 20px;
	text-align: center
}

.owl-bannerCarousel .owl-pagination .owl-page {
	width: 25px;
	height: 25px;
	background-color: #fff;
	margin-right: 15px
}

.icon-bitcoin,
.icon-faq,
.icon-telegram,
.icon-user {
	display: inline-block;
	width: 48px;
	height: 48px
}

.owl-bannerCarousel .owl-pagination .owl-page.active {
	background-color: #fa3930
}

.icon-user {
	background: url(https://www.redcab.io/images/icon-user.png) no-repeat
}

.icon-bitcoin {
	background: url(https://www.redcab.io/images/icon-bitcoin.png) no-repeat
}

.icon-faq {
	background: url(https://www.redcab.io/images/icon-faq.png) no-repeat
}

.icon-telegram {
	background: url(https://www.redcab.io/images/icon-telegram.png) no-repeat
}

.icon-bitpeaks,
.icon-linkedin,
.icon-telegram-2 {
	width: 36px;
	height: 36px;
	display: inline-block
}

.icon-telegram-2 {
	background: url(https://www.redcab.io/images/icon-telegram-2.png) no-repeat;
	background-size: 100% auto
}

.icon-linkedin {
	background: url(https://www.redcab.io/images/icon-linkedin.png) no-repeat;
	background-size: 100% auto
}

.icon-bitpeaks {
	background: url(https://www.redcab.io/images/icon-bitpeaks.png) no-repeat;
	background-size: 100% auto
}

.icon-pluse:before {
	content: "+";
	color: #fa3930;
	font-size: 50px
}

.icon-driver-rides {
	background: url(https://www.redcab.io/images/icon-driverride.svg) center center no-repeat;
	background-size: 100% auto
}

.icon-business-model {
	background: url(https://www.redcab.io/images/icon-businessmodel.svg) center center no-repeat;
	background-size: 100% auto
}

.icon-cabbi {
	background: url(https://www.redcab.io/images/icon-cabbi.svg) center center no-repeat;
	background-size: 100% auto
}

.icon-market-grow {
	background: url(https://www.redcab.io/images/icon-marketgrow.svg) center center no-repeat;
	background-size: 100% auto
}

.icon-marketing {
	background: url(https://www.redcab.io/images/icon-marketing.svg) center center no-repeat;
	background-size: 100% auto
}

.icon-proof {
	background: url(https://www.redcab.io/images/icon-proof.svg) center center no-repeat;
	background-size: 100% auto
}

.icon-sharing-network {
	background: url(https://www.redcab.io/images/icon-sharingnetwork.svg) center center no-repeat;
	background-size: 100% auto
}

.icon-win-win {
	background: url(https://www.redcab.io/images/icon-winwin.svg) center center no-repeat;
	background-size: 100% auto
}

.icon-unique {
	background: url(https://www.redcab.io/images/icon-unique.svg) center center no-repeat;
	background-size: 100% auto
}

.icon-whitepaper {
	background: url(https://www.redcab.io/images/icon-whitepaper.svg) center center no-repeat;
	display: inline-block;
	width: 48px;
	height: 48px;
	background-size: 100% auto
}

.iconBarHolder {
	position: fixed;
	right: -680px;
	bottom: 0;
	z-index: 4
}

.iconBarHolder ul {
	padding: 0;
	margin: 0;
	background-color: #fff;
	-webkit-border-radius: 30px 0 0 0;
	-moz-border-radius: 30px 0 0;
	border-radius: 30px 0 0;
	overflow: hidden
}

.iconBarHolder ul li {
	float: left;
	padding: 10px
}

.iconBarHolder ul li a {
	display: block;
	max-width: 48px;
	height: auto
}

#hidden-content .lightBox-agree,
#hidden-content .lightBox-deny,
.buyToken,
.joinWhiteList {
	display: inline-block;
	font-family: robotobold, Tahoma, Geneva, sans-serif
}

.iconBarHolder ul li.joinConver {
	background-color: #fa3930;
	padding: 0
}

.iconBarHolder ul li.joinConver a {
	max-width: none;
	padding: 23px 30px 23px 50px;
	background: url(https://www.redcab.io/images/socialicons/socialIcon_00.png) 20px center no-repeat;
	background-size: 24px 24px
}

.iconBarHolder.opened {
	right: 0
}

.buyToken,
.joinWhiteList {
	text-transform: uppercase;
	padding: 15px 30px;
	margin: 15px 10px;
	color: #000;
	-webkit-border-radius: 50px 50px 50px 50px;
	-moz-border-radius: 50px;
	border-radius: 50px
}

.buyToken:active,
.buyToken:hover,
.joinWhiteList:active,
.joinWhiteList:hover {
	color: #000!important
}

.buyToken {
	background-color: #cf0
}

#hidden-content,
.joinWhiteList {
	background-color: #fff
}

#hidden-content {
	max-width: 600px
}

#hidden-content * {
	color: #171717
}

#hidden-content p {
	margin: 15px 0
}

#hidden-content .lightBox-agree,
#hidden-content .lightBox-deny {
	padding: 5px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px;
	border-radius: 15px
}

#hidden-content .lightBox-agree {
	background-color: #cf0;
	color: #000
}

#hidden-content .lightBox-agree i {
	color: #fff
}

#hidden-content .lightBox-deny {
	margin-right: 15px
}

#hidden-content .trustedMark {
	padding-top: 20px
}

.progressBar-holder {
	padding: 25px 0 60px
}

.progressBar-holder .progressBarInner {
	position: relative
}

.progressBar-holder .progressBarInner .progress {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	box-shadow: inset 0 1px 12px #000;
	margin: 5px auto 0
}

.progressBar-holder .progressBarInner .progress .progress-bar.progress-bar-danger {
	background-color: #fa3930
}

.progressBar-holder .progressBarInner .progressLimit {
	position: absolute;
	top: 30px
}

.progressBar-holder .progressBarInner .progressLimit:before {
	content: "";
	position: absolute;
	z-index: 2;
	bottom: 100%;
	left: 0;
	width: 1px;
	height: 30px;
	background-color: #fff
}

.progressBar-holder .progressBarInner .progressLimit:nth-child(odd) {
	top: 50px
}

.progressBar-holder .progressBarInner .progressLimit:nth-child(odd):before {
	height: 50px
}

.progressBar-holder .progressBarInner .progressLimit:last-child:before {
	left: 100%!important
}

#afterPresales {
	position: relative;
	padding: 10% 0;
	/* background:url(https://www.redcab.io/images/bg_afterPresales.jpg) no-repeat; */
	color: white;
}

#afterPresales .presalesFooter {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 2;
	bottom: 0;
	top: auto;
	background: url(https://www.redcab.io/images/afterPresales_footer.png) bottom left no-repeat;
	background-size: 100% auto;
	height: 312px
}

#afterPresales .tokenSaleLive {
	font-size: 30px;
	text-align: right;
	font-family: robotolight, Tahoma, Geneva, sans-serif
}

#afterPresales .tokenSaleLive span {
	font-size: inherit;
	font-family: inherit;
	color: #cf0
}

#afterPresales .subTitle {
	font-size: 30px
}

#afterPresales .typewriterHolder {
	min-height: 160px;
	margin-bottom: 15px
}

#afterPresales .typewriterHolder * {
	font-size: 50px;
	text-transform: none;
	font-family: robotoregular, Tahoma, Geneva, sans-serif;
	line-height: 1
}

#afterPresales .conterHolder .conterBoxesHolder .counterElement .counterText,
#intro h4,
#presales .conterHolder .conterBoxesHolder .counterElement .counterDigit,
#presales .conterHolder .conterBoxesHolder .counterElement .counterText,
#presales h4 {
	font-family: robotolight, Tahoma, Geneva, sans-serif
}

#afterPresales .typewriterHolder #typewriter {
	line-height: 1;
	display: inline
}

#afterPresales .conterHolder {
	margin: 0 20px
}

#afterPresales .conterHolder .counterInner {
	padding: 15px 30px;
	background-color: rgba(255, 255, 255, .1)
}

#afterPresales .conterHolder .conterBoxesHolder {
	display: table;
	margin: 0 auto 15px
}

#afterPresales .conterHolder .conterBoxesHolder .counterElement {
	display: table-cell;
	text-align: center;
	padding: 5px 10px
}

#afterPresales .conterHolder .conterBoxesHolder .counterElement .counterDigit {
	display: block;
	font-size: 60px;
	line-height: 1;
	font-family: robotolight, Tahoma, Geneva, sans-serif
}

#afterPresales .conterHolder .conterBoxesHolder .counterSepartor {
	display: table-cell;
	font-size: 60px
}

#presales h1,
#presales h4 {
	font-size: 30px;
	text-align: center
}

#afterPresales .ratedIconsHolder {
	margin: 20px auto
}

#afterPresales .ratedIconsHolder ul {
	margin: 0;
	padding: 0;
	list-style: none
}

#afterPresales .ratedIconsHolder li {
	display: inline-block;
	width: 70px;
	margin: 10px
}

#afterPresales .ratedIconsHolder img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	width: 70px;
	height: 70px
}

#afterPresales .ratedIconsHolder img:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0)
}

#presales {
	position: relative;
	padding: 120px 0;
	height: 960px;
	display: none;
	background: -moz-linear-gradient(-45deg, #555 37%, #242424 100%);
	background: -webkit-linear-gradient(-45deg, #555 37%, #242424 100%);
	background: linear-gradient(135deg, #555 37%, #242424 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#242424', GradientType=1)
}

#presales .box1 {
	margin-bottom: 50px
}

#presales h4 {
	color: #cf0
}

#presales .bigTitle {
	font-size: 55px;
	color: #fff;
	text-transform: uppercase;
	line-height: 1;
	margin-bottom: 50px
}

#presales p {
	text-align: center
}

#presales p a,
#presales p span {
	color: #fa3930;
	font-size: inherit
}

#presales .canvasHolder {
	position: absolute;
	right: 0;
	width: 100%;
	top: 0;
	height: 100%;
	z-index: 2
}

#presales .canvasHolder:before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	top: 0;
	height: 100%;
	z-index: 3
}

#presales .canvasHolder .active_net {
	width: 100%;
	height: 100%
}

#presales .mainSectionBG {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-image: url(https://www.redcab.io/images/firstBG.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% auto
}

#presales .presalesIconHolder {
	margin: 50px auto
}

#presales .presalesIconHolder .presalesIcon {
	margin-bottom: 35px;
	padding: 0 20px;
	text-align: center
}

#presales .presalesIconHolder .presalesIcon p {
	color: #fff;
	margin-top: 20px
}

#presales .conterHolder {
	margin: 50px auto 0
}

#presales .conterHolder .conterBoxesHolder {
	display: table;
	margin: 0 auto
}

#presales .conterHolder .conterBoxesHolder .counterElement {
	display: table-cell;
	text-align: center;
	padding: 5px 10px
}

#presales .conterHolder .conterBoxesHolder .counterElement .counterDigit {
	display: block;
	font-size: 80px;
	line-height: 1
}

#presales .conterHolder .conterBoxesHolder .counterSepartor {
	display: table-cell;
	font-size: 80px
}

#presales .getinTouchForm {
	margin-top: 20px
}

#presales .typeformHolder {
	margin-top: 10px;
	text-align: center
}

#presales .shadowtransparentBG {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 50%;
	height: 100%;
	background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .48) 57%, #000 100%);
	background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .48) 57%, #000 100%);
	background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .48) 57%, #000 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=1)
}

#presales .presalesFooter {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 2;
	bottom: 0;
	top: auto;
	background: url(https://www.redcab.io/images/firstBG_footer.png) bottom left no-repeat;
	background-size: 100% auto;
	height: 312px
}

#intro {
	position: relative;
	color: #fff;
	height: 1000px;
	margin: 0 auto;
	padding: 160px 0 0;
	overflow: hidden;
	background: #555;
	background: -moz-linear-gradient(-45deg, #555 37%, #242424 100%);
	background: -webkit-linear-gradient(-45deg, #555 37%, #242424 100%);
	background: linear-gradient(135deg, #555 37%, #242424 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#242424', GradientType=1)
}

#intro .svg1,
#intro .svg2 {
	opacity: .25;
	filter: alpha(opacity=25)
}

#intro .mainSectionBG {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-image: url(https://www.redcab.io/images/firstBG.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 100% auto
}

#intro .introFooter {
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 2;
	bottom: 0;
	top: auto;
	background: url(https://www.redcab.io/images/firstBG_footer.png) bottom left no-repeat;
	background-size: 100% auto;
	height: 312px
}

#intro #connectedNetworks,
#intro .svg1,
#intro .svg2 {
	position: absolute;
	width: 100%;
	height: 100%
}

#intro .svg1 {
	bottom: -75px;
	right: -75px;
	background: url(https://www.redcab.io/images/right_network.svg) bottom right no-repeat;
	background-size: 75% auto
}

#intro .svg2 {
	top: -75px;
	left: -75px;
	background: url(https://www.redcab.io/images/right_network.svg) bottom right no-repeat;
	background-size: 75% auto;
	transform: rotate(-180deg)
}

#intro .svg3 {
	position: absolute;
	left: 0;
	top: 100px;
	width: 100%;
	opacity: .15;
	filter: alpha(opacity=15)
}

#intro #connectedNetworks {
	left: 0;
	top: 0;
	background: 0 0;
	z-index: 1
}

#intro h4 {
	font-size: 40px;
	color: #cf0
}

#fifth .tabsTube li a,
#fifth .tabsTube li a:hover,
#intro .whitePaper {
	font-family: robotobold, Tahoma, Geneva, sans-serif
}

#intro h1 {
	font-size: 65px;
	color: #fff;
	text-transform: uppercase;
	line-height: 1
}

#intro .textwithBG {
	color: #fff;
	padding: 10px 15% 10px 20%;
	font-size: 16px;
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .2) 15%, rgba(0, 0, 0, .2) 70%, rgba(0, 0, 0, 0) 100%);
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .2) 15%, rgba(0, 0, 0, .2) 70%, rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .2) 15%, rgba(0, 0, 0, .2) 70%, rgba(0, 0, 0, 0) 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
	margin: 30px 0 0 -20%
}

#intro .whitePaper {
	display: inline-block;
	font-size: 30px;
	text-transform: uppercase;
	background: #fa3930;
	background: -moz-linear-gradient(top, #fa3930 0, #a60b04 100%);
	background: -webkit-linear-gradient(top, #fa3930 0, #a60b04 100%);
	background: linear-gradient(to bottom, #fa3930 0, #a60b04 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#fa3930, endColorstr=#a60b04, GradientType=0);
	padding: 10px 65px 10px 35px;
	position: relative;
	border: 2px solid #fff;
	-webkit-border-radius: 55px 55px 55px 55px;
	-moz-border-radius: 55px;
	border-radius: 55px;
	margin: 50px 0 0
}

#intro .grediantCircle,
#seventh .worldMapHolder {
	-webkit-border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50%
}

#intro .icon-whitepaper {
	background: url(https://www.redcab.io/images/icon-whitepaper.svg) center center no-repeat;
	position: absolute;
	right: 15px;
	top: 5px;
	display: inline-block;
	width: 45px;
	height: 61px;
	background-size: 100% auto
}

#intro .grediantCircle {
	width: 300px;
	height: 300px;
	position: relative;
	background-color: #171717;
	border-radius: 50%;
	padding: 25px;
	margin: 15px
}

#intro .grediantCircle:before {
	content: "";
	position: absolute;
	left: -15px;
	top: -15px;
	bottom: -15px;
	right: -15px;
	z-index: 0;
	background: url(https://www.redcab.io/images/grediantCircle.png) no-repeat;
	background-size: 100% auto;
	animation: grediantCircle 3.75s linear 1s infinite
}

#intro .grediantCircle .smallLogoHolder {
	width: 85%;
	margin: 0 auto;
	padding: 60px 0 10px
}

#intro .grediantCircle p {
	font-size: 22px;
	text-align: center
}

#intro .grediantCircle .counter {
	display: block;
	text-align: center
}

#intro .grediantCircle .counter .digit,
#intro .grediantCircle .counter .separator {
	font-size: 50px;
	font-family: robotobold, Tahoma, Geneva, sans-serif
}

#second {
	color: #fff;
	height: 960px;
	margin: 0 auto;
	overflow: hidden;
	padding: 100px 0 0;
	background: url(https://www.redcab.io/images/globeSphereBG2.png) 95% center no-repeat #000;
	background-size: 40% auto
}

#second .secondBG {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background: url(https://www.redcab.io/images/secondBG.png) center 175px no-repeat fixed;
	background-size: 75% auto
}

#second .shpere {
	position: absolute;
	right: -200px;
	top: -50px;
	z-index: 1;
	background: url(https://www.redcab.io/images/sphere.svg) center center no-repeat;
	background-size: 100% auto;
	width: 800px;
	height: 800px
}

#second #globeSphere,
#second #globeSphere #video {
	width: 100%;
	height: 100%
}

#second #globeSphere {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1
}

#second #globeSphere .videoGrediant {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: -moz-linear-gradient(top, #171717 0, #191919 4%, rgba(48, 48, 48, .5) 50%, rgba(50, 50, 50, .5) 54%, #4a4a4a 100%);
	background: -webkit-linear-gradient(top, #171717 0, #191919 4%, rgba(48, 48, 48, .5) 50%, rgba(50, 50, 50, .5) 54%, #4a4a4a 100%);
	background: linear-gradient(to bottom, #171717 0, #191919 4%, rgba(48, 48, 48, .5) 50%, rgba(50, 50, 50, .5) 54%, #4a4a4a 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#4a4a4a', GradientType=0)
}

#second h1 {
	font-size: 40px
}

#second .featureBox {
	position: relative;
	padding: 0 15px 0 135px;
	min-height: 118px;
	margin-bottom: 25px;
	max-width: 460px
}

#second .featureBox .featureSVG {
	position: absolute;
	width: 118px;
	height: 118px;
	left: 0;
	top: 0;
	display: none
}

#second .featureBox .featureText h3 {
	color: #fa3930;
	text-transform: uppercase
}

#second #featureBox1 {
	margin-left: 0
}

#second #featureBox2 {
	margin-left: 140px
}

#second #featureBox3 {
	margin-left: 280px
}

#second #featureBox4 {
	margin-left: 420px
}

#third {
	padding: 0;
	position: relative;
	height: 867px
}

#fourth .svg1,
#third .secondFooter {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%
}

#third .secondFooter {
	background: url(https://www.redcab.io/images/secondBG_footer.png) top center no-repeat;
	background-size: 100% auto;
	height: 265px;
	z-index: 2
}

#fourth {
	height: 666px;
	padding: 125px 0 0
}

#fourth .svg1 {
	z-index: 1;
	opacity: .25;
	filter: alpha(opacity=25)
}

#fourth .visionBox {
	position: relative;
	background-color: #272727;
	padding: 100px;
	color: #fff;
	font-size: 20px
}

#fourth .visionBox h1 {
	font-size: 40px;
	position: absolute;
	top: -30px;
	left: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase
}

#fourth .visionBox h1:after {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 50%;
	width: 70px;
	height: 2px;
	background-color: #fa3930;
	margin-left: -35px
}

#fourth .visionBox p {
	font-size: 20px;
	text-align: center
}

#fifth {
	margin: 0 auto;
	padding: 40px 0;
	height: 925px
}

#fifth .tabsTube {
	border-bottom: 0 none;
	display: table;
	margin: 0 auto;
	-webkit-border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #fff;
	overflow: hidden
}

#fifth .tabsTube li {
	display: table-cell;
	float: none;
	width: 50%
}

#fifth .tabsTube li a,
#fifth .tabsTube li a:hover {
	margin: 0;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	text-align: center;
	padding: 10px 25px;
	background-color: transparent;
	color: #ddd;
	font-size: 20px;
	text-transform: uppercase
}

#fifth .tabsTube li.active {
	background-color: #fa3930
}

#fifth .tabsTube li.active a {
	color: #fff
}

#fifth .marketPain,
#fifth .redCabSolution {
	position: relative;
	padding-bottom: 200px
}

#fifth .marketPain .svg1,
#fifth .redCabSolution .svg1 {
	position: absolute;
	bottom: 0;
	left: 15%;
	width: 70%;
	opacity: .1;
	filter: alpha(opacity=10)
}

#fifth .owl-bannerCarousel .owl-wrapper-outer {
	height: 460px
}

#fifth .owl-bannerCarousel .owl-pagination {
	bottom: -20px
}

#fifth .owl-item,
#fifth .tabsBox {
	position: relative;
	padding: 0 100px;
	margin: 90px 0
}

#fifth .owl-item:nth-child(even):after,
#fifth .owl-item:nth-child(even):before,
#fifth .tabsBox:nth-child(even):after,
#fifth .tabsBox:nth-child(even):before {
	content: "";
	position: absolute;
	top: 60px;
	width: 1px;
	height: 170px;
	background-color: #fa3930
}

#fifth .owl-item:nth-child(even):before,
#fifth .tabsBox:nth-child(even):before {
	right: 0
}

#fifth .owl-item:nth-child(even):after,
#fifth .tabsBox:nth-child(even):after {
	left: 0
}

#fifth .owl-item [class*=" icon-"],
#fifth .owl-item [class^=icon-],
#fifth .tabsBox [class*=" icon-"],
#fifth .tabsBox [class^=icon-] {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto 40px;
	position: relative
}

#fifth .owl-item [class*=" icon-"]:after,
#fifth .owl-item [class^=icon-]:after,
#fifth .tabsBox [class*=" icon-"]:after,
#fifth .tabsBox [class^=icon-]:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 50%;
	width: 32px;
	height: 1px;
	background-color: #fa3930;
	margin-left: -16px
}

#fifth .owl-item h1,
#fifth .tabsBox h1 {
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	min-height: 60px
}

#fifth .owl-item p,
#fifth .tabsBox p {
	font-size: 10px;
	color: #999;
	text-align: center
}

#sixth {
	position: relative;
	background: url(https://www.redcab.io/images/sixthBG.jpg) 50% 75px no-repeat fixed;
	background-size: 100% auto;
	height: 915px;
	padding: 50px 0 0
}

#sixth .leftHandMobile {
	position: absolute;
	top: 100px;
	left: 0;
	z-index: 1;
	background: url(https://www.redcab.io/images/lefthand-mobile.png) no-repeat;
	background-size: 100% auto;
	width: 40%;
	height: 789px
}

#seventh,
#seventh h1 {
	position: relative
}

#seventh {
	padding: 50px 0;
	background-color: black;
}

#seventh h1:before {
	content: "";
	position: absolute
}

#seventh h3 {
	font-size: 90px;
	text-align: right;
	line-height: .7;
	margin: 20px 0
}

#seventh h3 span {
	display: block;
	text-align: right;
	font-size: 190px;
	line-height: 1
}

#seventh .panel-group {
	margin: 20px 0 0
}

#seventh .locationBtn {
	color: #858585;
	display: block
}

#seventh .locationBtn.current,
#seventh .locationBtn:hover {
	color: #fff
}

#seventh .panel {
	background: 0 0;
	border: 0;
	box-shadow: none
}

#seventh .panel .panel-heading {
	padding: 0
}

#seventh .panel .panel-heading .panel-title a {
	display: block;
	padding: 10px 15px 10px 25px;
	color: #fff;
	font-size: 30px;
	line-height: 1;
	position: relative
}

#eighth p a,
#eighth ul:not(.ulList) li a {
	color: #fa3930
}

#seventh .panel .panel-heading .panel-title a:before {
	content: "-";
	position: absolute;
	left: 0;
	top: 10px;
	transition: all .5s ease-in-out
}

#seventh .panel .panel-heading .panel-title a.collapsed:before {
	content: "+";
	transform: rotate(180deg)
}

#seventh .panel .panel-collapse .panel-body {
	border-top: 0 none;
	padding-top: 0
}

#seventh .worldMapHolder {
	position: relative;
	height: 700px;
	width: 700px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 30px 30px 120px #000
}

#seventh .worldMapHolder .worldMap,
#tenth .team .member .imgHolder {
	-webkit-border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50%;
	overflow: hidden
}

#seventh .worldMapHolder .worldMapMask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: -moz-radial-gradient(center, ellipse cover, rgba(23, 23, 23, 0) 0, rgba(23, 23, 23, .24) 61%, #171717 100%);
	background: -webkit-radial-gradient(center, ellipse cover, rgba(23, 23, 23, 0) 0, rgba(23, 23, 23, .24) 61%, #171717 100%);
	background: radial-gradient(ellipse at center, rgba(23, 23, 23, 0) 0, rgba(23, 23, 23, .24) 61%, #171717 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#171717', endColorstr='#171717', GradientType=1)
}

#seventh .worldMapHolder .worldMapLight {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: url(https://www.redcab.io/images/worldMap_light.png) no-repeat;
	background-size: 100% 100%
}

#seventh .worldMapHolder .worldMap {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 2s linear 0s;
	-moz-transition: all 2s linear 0s;
	-o-transition: all 2s linear 0s;
	transition: all 2s linear 0s;
	border-radius: 50%;
	background: url(https://www.redcab.io/images/worldMap.png) 0 center repeat-x
}

#seventh .worldMapHolder .worldMap .worldMapImg {
	width: 100%;
	height: auto
}

#seventh .worldMapHolder .worldMap.animateMap {
	-webkit-animation: animateMap 30s infinite linear;
	animation: animateMap 30s infinite linear
}

#seventh .worldMapHolder .worldMap .locationPin {
	position: absolute;
	z-index: 2;
	width: 38px;
	height: 55px;
	background: url(https://www.redcab.io/images/locationPin.png) no-repeat;
	display: none
}

#seventh .worldMapHolder .worldMap .locationPin.PuertoRico {
	left: 22%;
	top: 45.3%
}

#seventh .worldMapHolder .worldMap .locationPin.CostaRica {
	left: 17.5%;
	top: 50.5%
}

#seventh .worldMapHolder .worldMap .locationPin.Panama {
	left: 18.5%;
	top: 51%
}

#seventh .worldMapHolder .worldMap .locationPin.Nicaragua {
	left: 16.5%;
	top: 49.5%
}

#seventh .worldMapHolder .worldMap .locationPin.Lebanon {
	left: 53.5%;
	top: 36.3%
}

#seventh .worldMapHolder .worldMap .locationPin.Egypt {
	left: 51.5%;
	top: 41%
}

#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] {
	background-position: 60px center
}

#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.PuertoRico {
	left: 409px;
	top: 324px
}

#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.CostaRica {
	left: 358px;
	top: 367px
}

#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.Panama {
	left: 369px;
	top: 365px
}

#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.Nicaragua {
	left: 347px;
	top: 361px
}

#seventh .worldMapHolder .worldMap[data-currentLocation=MENA] {
	background-position: -300px center
}

#seventh .worldMapHolder .worldMap[data-currentLocation=MENA] .locationPin.Lebanon {
	left: 405px;
	top: 260px
}

#seventh .worldMapHolder .worldMap[data-currentLocation=MENA] .locationPin.Egypt {
	left: 380px;
	top: 280px
}

#seventh .worldMapHolder .worldMap[data-currentLocation=Asiapacific] {
	background-position: -530px center
}

#seventh .worldMapHolder .worldMap[data-currentLocation=Asiapacific] .locationPin.India {
	left: 390px;
	top: 340px
}

#eighth {
	background: url(https://www.redcab.io/images/eighthBG.jpg) 100%, 100%, no-repeat;
	background-size: cover;
	position: relative;
	/*height: 2300px;*/
	padding: 115px 0 0;
	overflow: hidden
}

#eighth .artisticCircle {
	position: absolute;
	right: -505px;
	top: 0;
	width: 1100px;
	height: 1100px;
	opacity: .4;
	filter: alpha(opacity=40);
	background: url(https://www.redcab.io/images/victorCircle.svg) no-repeat;
	background-size: 100% auto;
	animation: artisticCircle 30s linear 1s infinite
}

#eighth p {
	font-size: 20px;
	margin-bottom: 25px;
	line-height: 1.3
}

#eighth h1.underline {
	margin-bottom: 100px
}

#eighth ul:not(.ulList) {
	list-style: none
}

#eighth .ulList {
	list-style: inside;
	color: #01a19d;
	padding: 0 15px;
	margin: 10px 0
}

#eighth .ulList li {
	margin-bottom: 10px;
	float: left;
	text-align: left;
	margin-right: 10px
}

#eighth .ulList span {
	font-size: 14px
}

#eighth .ulList i {
	font-style: normal
}

#eighth table.tbl {
	border: 1px solid #dbdbdb;
	margin-bottom: 20px;
	font-family: robotolight, Tahoma, Geneva, sans-serif
}

#eighth table.tbl td,
#eighth table.tbl th {
	border: 1px solid #dbdbdb;
	padding: 10px
}

#eighth table.tbl th {
	font-family: robotobold, Tahoma, Geneva, sans-serif
}

#eighth .chartsHolder {
	margin: 75px 0;
	text-align: center
}

#eighth .chartsHolder h2 {
	font-size: 40px;
	margin-bottom: 135px
}

#eighth .chartsHolder h4 {
	font-size: 30px;
	color: #999;
	font-style: italic;
	margin-bottom: 15px
}

#eighth .chartsHolder .chartBox {
	margin-bottom: 50px
}

#nineth {
	position: relative;
	background: url(https://www.redcab.io/images/ninethBG.png) no-repeat;
	background-size: 100% auto;
	max-height: 5600px;
	padding: 190px 0
}

#nineth h1.headTitle.withLine {
	text-align: center;
	position: relative;
	margin-bottom: 55px
}

#nineth h1.headTitle.withLine:before {
	content: "";
	position: absolute;
	bottom: -30px;
	left: 50%;
	width: 70px;
	height: 2px;
	background-color: #fa3930;
	margin-left: -35px
}

#nineth .timelineHolder {
	position: relative;
	z-index: 3;
	margin: 50px 0 300px
}

#nineth .timelineHolder .year {
	background-color: #fa3930;
	color: #fff;
	padding: 5px 10px;
	display: table;
	margin: 0 auto;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

#nineth .timelineHolder .story {
	width: 50%;
	padding: 20px 10px;
	font-size: 14px;
	position: relative;
	min-height: 185px
}

#nineth .timelineHolder .story:before {
	content: "";
	position: absolute;
	top: 0;
	height: 100%;
	width: 12px;
	background-color: #333
}

#nineth .timelineHolder .story:after {
	content: "";
	position: absolute;
	top: 5px;
	height: 68px;
	width: 167px;
	background-repeat: no-repeat;
	background-position: 0 -118px;
	background-size: 100% auto
}

#nineth .timelineHolder .story:nth-of-type(even) {
	margin-left: calc(50% - 0px);
	padding-left: 130px
}

#nineth .timelineHolder .story:nth-of-type(even):before {
	left: -6px
}

#nineth .timelineHolder .story:nth-of-type(even):after {
	left: -7px;
	background-image: url(https://www.redcab.io/images/storyLine-otherSide.png)
}

#nineth .timelineHolder .story:nth-of-type(odd) {
	margin-right: calc(50% - 0px);
	padding-right: 130px
}

#tenth #advisors,
#tenth #team {
	padding: 75px 0 0
}

#nineth .timelineHolder .story:nth-of-type(odd):before {
	right: -6px
}

#nineth .timelineHolder .story:nth-of-type(odd):after {
	right: -7px;
	background-image: url(https://www.redcab.io/images/storyLine.png)
}

#nineth .timelineHolder .story .happened:after,
#nineth .timelineHolder .story:hover:after {
	background-position: 0 1px
}

#nineth .timelineFooterHolder {
	position: absolute;
	right: 0;
	top: -660px;
	width: 78%;
	z-index: 0
}

#nineth .milestones h1.underline {
	margin-bottom: 60px
}

#tenth {
	padding: 0;
	position: relative;
	overflow: hidden;
	background: -moz-linear-gradient(top, rgba(0, 0, 0, .6) 0, #222 100%);
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, .6) 0, #222 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, .6) 0, #222 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#99000000', endColorstr='#00444444', GradientType=0)
}

#tenth #team {
	background-color: #393939
}

#tenth .headTitle {
	margin-bottom: 80px
}

#tenth .team .member {
	padding: 0;
	margin: 0 120px 80px;
	height: 308px
}

#tenth .team .member:after {
	position: absolute;
	right: 0;
	top: 25px;
	bottom: 25px;
	border-right: 1px solid #fa3930
}

#tenth .team .member .imgHolder {
	position: relative;
	border-radius: 50%;
	max-width: 245px;
	margin: 0 auto
}

#tenth .team .member .imgHolder img {
	width: 100%;
	height: auto;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%)
}

#tenth .team .member .imgHolder .infoHolder {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	left: 0;
	bottom: -150%;
	padding: 18%;
	text-align: center;
	-webkit-transition: bottom .55s linear .1s;
	-moz-transition: bottom .55s linear .1s;
	-o-transition: bottom .55s linear .1s;
	transition: bottom .55s linear .1s;
	background-color: #333;
	-webkit-border-radius: 50% 50% 50% 50%;
	-moz-border-radius: 50%;
	border-radius: 50%
}

#partners,
#partners2 {
	padding: 50px 0
}

#meetUs,
#partners {
	background-color: #393939
}

#tenth .team .member .imgHolder .infoLink {
	display: inline-block;
	margin: 0 10px
}

#tenth .team .member h1,
#tenth .team .member p {
	font-size: 14px;
	text-align: center;
	color: #fff;
	line-height: 1.2;
	margin-top: 10px;
	text-transform: capitalize
}

#tenth .team .member p {
	min-height: 35px
}

#tenth .team .member:hover .imgHolder img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0)
}

#tenth .team .member:hover .imgHolder .infoHolder {
	bottom: -55%
}

#partners h2 {
	color: #b9b9b9;
	font-size: 14px;
	text-align: center;
	font-family: robotolight, Tahoma, Geneva, sans-serif;
	margin-bottom: 20px
}

#partners .partnerBox {
	margin-bottom: 20px;
	max-width: 180px
}

#partners2 .headTitle {
	margin-bottom: 100px
}

#partners2 .partnerBox {
	margin-bottom: 20px;
	text-align: center;
	min-height: 125px
}

#partners2 .partnerBox img {
	max-width: 360px
}

#meetUs {
	height: 900px;
	padding: 70px 0
}

#meetUs #owl-meetUs .owl-wrapper-outer {
	height: 720px
}

#meetUs #owl-meetUs .item {
	background-color: #fff;
	padding: 45px 45px 70px;
	margin: 0 30px;
	position: relative;
	border-bottom: 10px solid #fff
}

#meetUs #owl-meetUs .item h1 {
	font-size: 26px;
	text-transform: capitalize;
	min-height: 98px;
	line-height: 1.25;
	margin: 15px 0
}

#meetUs #owl-meetUs .item h1 a {
	font-size: inherit;
	color: #000
}

#meetUs #owl-meetUs .item .dateBoxHolder {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px;
	background: url(https://www.redcab.io/images/meetup_BG.jpg) 90% center no-repeat;
	background-size: auto 33px
}

#meetUs #owl-meetUs .item .dateBoxHolder .dateBox {
	background-color: #aaa;
	padding: 5px 15px 5px 30px;
	text-transform: uppercase;
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	color: #fff;
	width: 60%
}

#meetUs #owl-meetUs .item:hover {
	border-bottom-color: #fa3930
}

#meetUs #owl-meetUs .owl-pagination {
	bottom: 50px
}

#news {
	padding: 50px 0;
	background-color: #222
}

#news .newsHolder {
	height: 248px;
	overflow: hidden
}

#news .newsHolder .newsBoxHolder {
	display: none
}

#news .newsHolder .newsBox {
	display: block;
	position: relative;
	height: 124px;
	padding: 30px;
	border-bottom: 1px solid #fff;
	background-color: #222;
	background-repeat: no-repeat;
	background-size: 100% auto
}

#news .newsHolder .newsBox .newsTitle {
	font-family: robotobold, Tahoma, Geneva, sans-serif;
	font-size: 16px;
	display: block
}

#footer .footerTitle,
#securifySection a,
#securifySection p {
	font-family: robotoregular, Tahoma, Geneva, sans-serif;
	text-align: center
}

#news .newsHolder .newsBox .newsBy {
	position: absolute;
	bottom: 5px;
	color: #fa3930
}

#news .btn {
	background-color: #333;
	border: 2px solid #656565;
	color: #fff;
	text-align: center;
	display: block;
	margin: 15px 5px
}

#footer #copyrights a,
#footer #copyrights p {
	margin-top: 10px;
	font-size: 12px
}

#securifySection {
	padding: 50px 0;
	text-align: center;
	position: relative;
	overflow: hidden
}

#securifySection .securifyGB {
	position: absolute;
	right: -100px;
	top: -45px;
	width: 275px;
	height: 275px;
	background: url(https://www.redcab.io/images/securifyBG.png) no-repeat;
	background-size: 100% auto;
	animation: artisticCircle 30s linear 1s infinite
}

#securifySection .form-group {
	margin-bottom: 50px;
	min-height: 140px
}

#securifySection a,
#securifySection p {
	font-size: 14px
}

#securifySection p {
	color: #b9b9b9;
	margin-bottom: 20px;
	min-height: 42px
}

#securifySection a {
	color: #fa3930
}

#securifySection img {
	max-width: 200px
}

#footer {
	padding: 60px 0 0;
	border-top: 1px solid #333;
	height: 450px;
	margin-bottom: 50px
}

#footer .footerTitle {
	font-size: 16px;
	margin-bottom: 45px;
	text-transform: uppercase
}

#footer .footerTitle span {
	font-size: inherit;
	font-weight: 700;
	font-family: robotobold, Tahoma, Geneva, sans-serif;
	color: #707070
}

#footer .backToRedCab {
	display: inline-block;
	font-size: 14px;
	text-transform: capitalize
}

#footer a {
	display: inline-block;
	text-transform: uppercase;
	font-family: robotoregular, Tahoma, Geneva, sans-serif
}

#footer a:hover,
#footer a:hover span {
	color: #fa3930
}

#footer .subscribeHolder {
	min-height: 55px
}

#footer .footerBox {
	padding: 0;
	margin-bottom: 15px
}

#footer .footerBox ul {
	text-align: center;
	margin-bottom: 90px
}

#footer .footerBox ul li {
	display: inline-block;
	width: 19%
}

#footer .footerBox ul li a {
	padding: 3px 10px;
	text-align: center;
	font-size: 16px
}

#footer #copyrights {
	margin: 15px auto 0;
	border-top: 1px solid #fa3930;
	padding: 25px 0;
	min-height: 92px
}

#footer #copyrights a {
	padding: 3px 4px
}

#footer #copyrights p span {
	color: #fa3930;
	font-size: 12px
}

#footer #copyrights .footerLogoHolder {
	text-align: center
}

#footer #copyrights .footerLogoHolder img {
	width: 211px;
	height: auto;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%)
}

#footer #copyrights .copyrightLinks {
	text-align: right
}

.subscribeHolder {
	margin: 0 0 15px;
	position: relative;
	display: block
}

.subscribeHolder input.inputEmail {
	display: block;
	width: 100%;
	color: #171717;
	border: 0;
	padding: 20px 88px 20px 8px;
	outline: 0
}

.subscribeHolder input.submitButton {
	background-color: #fa3930;
	color: #fff;
	border: 0;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%
}

@keyframes artisticCircle {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

@keyframes grediantCircle {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

@keyframes animateMap {
	0% {
		background-position: 1279px center
	}
	100% {
		background-position: -1279px center
	}
}

.slide {
	width: 100%;
	overflow: hidden
}

.amaizingSphereHolder {
	position: absolute;
	right: -200px;
	top: 0;
	z-index: 1
}

@media screen and (min-width:991.1px) and (max-width:1024px) {
	.icon-pluse:before,
	h1 {
		font-size: 30px
	}
	h3 {
		font-size: 20px
	}
	.owl-bannerCarousel .owl-pagination {
		left: 10px;
		right: 10px
	}
	.owl-bannerCarousel .owl-pagination .owl-page {
		width: 10px;
		height: 10px;
		margin-right: 10px
	}
	ul.withSpecialBullet>li {
		padding: 0 0 10px 40px;
		margin-bottom: 10px
	}
	#header .navHolder #nav {
		margin: 0;
		min-height: inherit;
		border: 0
	}
	#header .navHolder #nav .caret {
		color: #fff
	}
	#header .navHolder #nav .navbar-header {
		background-color: #171717
	}
	#header .navHolder #nav button.navbar-toggle {
		background: 0 0;
		margin: 8px;
		display: block
	}
	#header .navHolder #nav .navbar-collapse {
		display: none!important;
		position: absolute;
		right: 0;
		left: auto;
		top: 100%;
		background-color: #171717;
		width: 250px;
		padding: 15px
	}
	#header .navHolder #nav .navbar-collapse.in {
		display: table!important
	}
	#header .navHolder #nav .navbar-nav.navigationBar {
		float: none;
		text-align: center;
		display: block;
		width: auto
	}
	#header .navHolder #nav .mainMenu,
	#header .navHolder #nav .navbar-nav.navigationBar>li {
		display: block;
		border-right: 0 none;
		float: none
	}
	#header .navHolder #nav .navbar-right>li,
	#header .navHolder #nav .navbar-right>li a {
		text-align: center
	}
	#header .navHolder #nav .navbar-right>li.dropdown .dropdown-menu {
		right: 100%;
		left: auto;
		top: 0;
		bottom: auto
	}
	.iconBarHolder {
		right: 0;
		bottom: -210px
	}
	.iconBarHolder ul {
		-webkit-border-radius: 30px 30px 0 0;
		-moz-border-radius: 30px 30px 0 0;
		border-radius: 30px 30px 0 0
	}
	.iconBarHolder ul li.joinConver {
		width: 100%
	}
	.iconBarHolder ul li.joinConver a {
		padding: 10px 30px 10px 50px
	}
	.iconBarHolder.opened {
		bottom: 0
	}
	.progressBar-holder .progressBarInner .progressLimit {
		font-size: 12px
	}
	#afterPresales {
		height: 890px;
		background-size: 145% auto
	}
	#afterPresales .tokenSaleLive {
		font-size: 16px
	}
	#afterPresales .subTitle {
		font-size: 14px;
		text-align: center
	}
	#afterPresales .conterHolder .conterBoxesHolder .counterElement .counterDigit,
	#afterPresales .typewriterHolder * {
		font-size: 25px
	}
	#afterPresales .conterHolder {
		margin: 0 auto 50px
	}
	#afterPresales .conterHolder .counterInner {
		padding: 15px
	}
	#afterPresales .conterHolder .conterBoxesHolder .counterElement .counterText {
		font-size: 12px
	}
	#afterPresales .conterHolder .conterBoxesHolder .counterSepartor {
		font-size: 25px
	}
	#afterPresales .conterHolder .buyToken,
	#afterPresales .conterHolder .joinWhiteList {
		padding: 5px 15px
	}
	#presales {
		height: 830px;
		padding: 90px 0
	}
	#presales .box1 {
		margin-bottom: 55px
	}
	#presales h1 {
		font-size: 24px
	}
	#presales .bigTitle {
		font-size: 30px
	}
	#presales .presalesIconHolder .presalesIcon p {
		font-size: 12px
	}
	#presales .conterHolder .conterBoxesHolder .counterElement {
		padding: 5px
	}
	#presales .conterHolder .conterBoxesHolder .counterElement .counterDigit,
	#presales .conterHolder .conterBoxesHolder .counterSepartor {
		font-size: 40px
	}
	#presales .presalesFooter {
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 2;
		bottom: 0;
		top: auto;
		background: url(https://www.redcab.io/images/firstBG_footer.png) bottom left no-repeat;
		background-size: 100% auto;
		height: 312px
	}
	#intro h1 {
		font-size: 30px
	}
	#intro .textwithBG {
		font-size: 14px;
		margin-top: 15px
	}
	#intro .whitePaper {
		display: block;
		font-size: 20px;
		margin: 50px auto;
		max-width: 235px
	}
	#fifth .tabsTube li a,
	#fifth .tabsTube li a:hover,
	#fourth .visionBox p {
		font-size: 14px
	}
	#intro .icon-whitepaper {
		top: -5px
	}
	#intro .grediantCircle {
		width: 250px;
		height: 250px;
		margin: 15px auto
	}
	#intro .grediantCircle .smallLogoHolder {
		padding: 20px 0 10px
	}
	#second .featureBox {
		padding: 0 15px 0 65px
	}
	#second .featureBox .featureSVG {
		width: 50px;
		height: auto;
		top: 15px
	}
	#second #featureBox1,
	#second #featureBox2,
	#second #featureBox3,
	#second #featureBox4 {
		margin-left: 0
	}
	#fourth .visionBox {
		padding: 100px 15px 50px
	}
	#fifth {
		height: 670px
	}
	#fifth .owl-bannerCarousel .owl-wrapper-outer {
		height: 410px
	}
	#fifth .owl-item,
	#fifth .tabsBox {
		padding: 0 30px;
		margin: 20px 0
	}
	#sixth {
		height: 630px
	}
	#seventh h1,
	#sixth h3 {
		font-size: 20px
	}
	#sixth p {
		font-size: 14px
	}
	#seventh {
		height: 750px
	}
	#seventh h3,
	#seventh h3 span {
		font-size: 35px;
		text-align: left
	}
	#footer #copyrights .copyrightLinks,
	#footer #copyrights p {
		text-align: center
	}
	#seventh .worldMapHolder {
		height: 400px;
		width: 400px
	}
	#seventh .worldMapHolder .worldMap {
		background-size: 619px auto
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] {
		background-position: 60px center
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.PuertoRico {
		left: 215px;
		top: 158px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.CostaRica {
		left: 190px;
		top: 176px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.Panama {
		left: 199px;
		top: 179px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.Nicaragua {
		left: 179px;
		top: 166px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=MENA] {
		background-position: -110px center
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=MENA] .locationPin.Lebanon {
		left: 222px;
		top: 130px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=MENA] .locationPin.Egypt {
		left: 207px;
		top: 138px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=Asiapacific] {
		background-position: 410px center
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=Asiapacific] .locationPin.India {
		left: 230px;
		top: 165px
	}
	@keyframes animateMap {
		0% {
			background-position: 619px center
		}
		100% {
			background-position: -619px center
		}
	}
	#eighth {
		height: 1760px
	}
	#eighth p {
		font-size: 14px
	}
	#meetUs #owl-meetUs .item h1,
	#partners h2 {
		font-size: 20px
	}
	#nineth .timelineHolder .year {
		margin: auto 0
	}
	#nineth .timelineHolder .story {
		width: 90%;
		padding: 40px 10px
	}
	#nineth .timelineHolder .story:before {
		top: 0;
		height: 100%;
		width: 12px
	}
	#nineth .timelineHolder .story:after {
		top: 20px;
		height: 50px;
		width: 70px;
		background-position: 10px -48px
	}
	#nineth .timelineHolder .story:nth-of-type(even),
	#nineth .timelineHolder .story:nth-of-type(odd) {
		margin-right: 0;
		margin-left: calc(10px - 0px);
		padding-right: 10px;
		padding-left: 50px
	}
	#nineth .timelineHolder .story:nth-of-type(even):before,
	#nineth .timelineHolder .story:nth-of-type(odd):before {
		right: auto;
		left: -6px
	}
	#nineth .timelineHolder .story:nth-of-type(even):after,
	#nineth .timelineHolder .story:nth-of-type(odd):after {
		right: auto;
		left: -7px;
		background-image: url(https://www.redcab.io/images/storyLine-otherSide.png)
	}
	#nineth .timelineHolder .story .happened:after,
	#nineth .timelineHolder .story:hover:after {
		background-position: 10px 1px
	}
	#nineth .timelineFooterHolder {
		top: -500px;
		width: 100%
	}
	#tenth {
		height: 2500px
	}
	#tenth .team .member {
		margin: 0 15px 50px
	}
	#tenth .team .member .imgHolder .infoHolder {
		padding: 18%
	}
	#tenth .team .member .imgHolder .infoLink {
		margin: 0 10px
	}
	#tenth .team .member .imgHolder .infoLink span {
		width: 24px;
		height: 24px
	}
	#tenth .team .member:hover .imgHolder .infoHolder {
		bottom: -55%
	}
	#partners {
		height: 640px
	}
	#partners2 {
		height: 600px
	}
	#meetUs {
		height: 715px
	}
	#meetUs #owl-meetUs .owl-wrapper-outer {
		height: 520px
	}
	#meetUs #owl-meetUs .item {
		padding: 25px 25px 70px;
		margin: 0 10px
	}
	#news .newsHolder .newsBox .newsTitle,
	#securifySection a,
	#securifySection p {
		font-size: 14px
	}
	#meetUs #owl-meetUs .item .dateBoxHolder .dateBox {
		font-size: 14px;
		padding: 5px 10px
	}
	#meetUs #owl-meetUs .owl-pagination {
		bottom: 0
	}
	#news {
		height: 460px
	}
	#news .newsHolder {
		height: 190px
	}
	#news .newsHolder .newsBox {
		height: 95px;
		padding: 15px
	}
	#securifySection .form-group {
		min-height: 90px
	}
	#securifySection p {
		min-height: 42px
	}
	#footer {
		height: 650px
	}
	#footer .footerBox h1 {
		margin-bottom: 5px
	}
	#footer #copyrights .footerLogoHolder {
		text-align: center;
		margin-top: 15px
	}
	.subscribeHolder {
		margin: 15px 0 40px
	}
}

@media screen and (min-width:1024.1px) and (max-width:1300px) {
	.iconBarHolder {
		right: 0;
		bottom: -210px
	}
	.iconBarHolder ul {
		-webkit-border-radius: 30px 30px 0 0;
		-moz-border-radius: 30px 30px 0 0;
		border-radius: 30px 30px 0 0
	}
	.iconBarHolder ul li.joinConver {
		width: 100%
	}
	.iconBarHolder ul li.joinConver a {
		padding: 10px 30px 10px 50px
	}
	.iconBarHolder.opened {
		bottom: 0
	}
	.buyToken,
	.joinWhiteList {
		padding: 5px 15px
	}
	#afterPresales {
		height: 890px;
		background-size: 145% auto
	}
	#afterPresales .tokenSaleLive {
		font-size: 16px
	}
	#afterPresales .subTitle {
		font-size: 14px;
		text-align: center
	}
	#afterPresales .conterHolder .conterBoxesHolder .counterElement .counterDigit,
	#afterPresales .typewriterHolder * {
		font-size: 25px
	}
	#afterPresales .conterHolder {
		margin: 0 auto 50px
	}
	#afterPresales .conterHolder .counterInner {
		padding: 15px
	}
	#afterPresales .conterHolder .conterBoxesHolder .counterElement .counterText {
		font-size: 12px
	}
	#afterPresales .conterHolder .conterBoxesHolder .counterSepartor {
		font-size: 25px
	}
	#tenth .team .member {
		margin: 0 50px 50px;
		height: 330px
	}
	#tenth .team .member .imgHolder .infoHolder {
		padding: 18%
	}
	#tenth .team .member .imgHolder .infoLink {
		margin: 0 10px
	}
	#tenth .team .member .imgHolder .infoLink span {
		width: 24px;
		height: 24px
	}
	#tenth .team .member:hover .imgHolder .infoHolder {
		bottom: -55%
	}
}

@media screen and (min-width:767.1px) and (max-width:991px) {
	.icon-pluse:before,
	h1 {
		font-size: 30px
	}
	h3 {
		font-size: 20px
	}
	.amaizingSphereHolder {
		display: none
	}
	.owl-bannerCarousel .owl-pagination {
		left: 10px;
		right: 10px
	}
	.owl-bannerCarousel .owl-pagination .owl-page {
		width: 10px;
		height: 10px;
		margin-right: 10px
	}
	ul.withSpecialBullet>li {
		padding: 0 0 10px 40px;
		margin-bottom: 10px
	}
	#header .navHolder #nav {
		margin: 0;
		min-height: inherit;
		border: 0
	}
	#header .navHolder #nav .caret {
		color: #fff
	}
	#header .navHolder #nav .navbar-header {
		background-color: #171717
	}
	#header .navHolder #nav button.navbar-toggle {
		background: 0 0;
		margin: 8px;
		display: block
	}
	#header .navHolder #nav .navbar-collapse {
		display: none!important;
		position: absolute;
		right: 0;
		left: auto;
		top: 100%;
		background-color: #171717;
		width: 250px;
		padding: 15px
	}
	#header .navHolder #nav .navbar-collapse.in {
		display: table!important
	}
	#header .navHolder #nav .navbar-nav.navigationBar {
		float: none;
		text-align: center;
		display: block;
		width: auto
	}
	#header .navHolder #nav .mainMenu,
	#header .navHolder #nav .navbar-nav.navigationBar>li {
		display: block;
		border-right: 0 none;
		float: none
	}
	#header .navHolder #nav .navbar-right>li,
	#header .navHolder #nav .navbar-right>li a {
		text-align: center
	}
	#header .navHolder #nav .navbar-right>li.dropdown .dropdown-menu {
		right: 100%;
		left: auto;
		top: 0;
		bottom: auto
	}
	.iconBarHolder {
		right: 0;
		bottom: -210px
	}
	.iconBarHolder ul {
		-webkit-border-radius: 30px 30px 0 0;
		-moz-border-radius: 30px 30px 0 0;
		border-radius: 30px 30px 0 0
	}
	.iconBarHolder ul li.joinConver {
		width: 100%
	}
	.iconBarHolder ul li.joinConver a {
		padding: 10px 30px 10px 50px
	}
	.iconBarHolder.opened {
		bottom: 0
	}
	.buyToken,
	.joinWhiteList {
		padding: 5px 15px
	}
	.progressBar-holder .progressBarInner .progressLimit {
		font-size: 12px
	}
	#afterPresales {
		height: 890px;
		background-size: 190% auto
	}
	#afterPresales .tokenSaleLive {
		font-size: 16px
	}
	#afterPresales .subTitle {
		font-size: 14px;
		text-align: center
	}
	#afterPresales .conterHolder .conterBoxesHolder .counterElement .counterDigit,
	#afterPresales .typewriterHolder * {
		font-size: 25px
	}
	#afterPresales .conterHolder {
		margin: 0 auto 50px
	}
	#afterPresales .conterHolder .counterInner {
		padding: 15px
	}
	#afterPresales .conterHolder .conterBoxesHolder .counterElement .counterText {
		font-size: 12px
	}
	#afterPresales .conterHolder .conterBoxesHolder .counterSepartor {
		font-size: 25px
	}
	#presales {
		height: 1320px;
		padding: 90px 0
	}
	#presales .box1 {
		margin-bottom: 75px
	}
	#presales h1 {
		font-size: 24px
	}
	#presales .bigTitle {
		font-size: 30px
	}
	#presales .canvasHolder .active_net {
		visibility: hidden
	}
	#presales .presalesIconHolder .presalesIcon p {
		font-size: 12px
	}
	#intro h1,
	#presales .conterHolder .conterBoxesHolder .counterElement .counterDigit,
	#presales .conterHolder .conterBoxesHolder .counterSepartor {
		font-size: 30px
	}
	#presales .conterHolder .conterBoxesHolder .counterElement {
		padding: 5px
	}
	#presales .shadowtransparentBG {
		display: none
	}
	#presales .presalesFooter {
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 2;
		bottom: 0;
		top: auto;
		background: url(https://www.redcab.io/images/firstBG_footer.png) bottom left no-repeat;
		background-size: 100% auto;
		height: 312px
	}
	#intro .textwithBG {
		font-size: 14px;
		margin-top: 15px
	}
	#intro .whitePaper {
		display: block;
		font-size: 20px;
		margin: 50px auto;
		max-width: 235px
	}
	#fifth .tabsTube li a,
	#fifth .tabsTube li a:hover,
	#fourth .visionBox p {
		font-size: 14px
	}
	#intro .icon-whitepaper {
		top: -5px
	}
	#intro .grediantCircle {
		width: 250px;
		height: 250px;
		margin: 15px auto
	}
	#intro .grediantCircle .smallLogoHolder {
		padding: 20px 0 10px
	}
	#second .featureBox {
		padding: 0 15px 0 65px
	}
	#second .featureBox .featureSVG {
		width: 50px;
		height: auto;
		top: 15px
	}
	#second #featureBox1,
	#second #featureBox2,
	#second #featureBox3,
	#second #featureBox4 {
		margin-left: 0
	}
	#fourth .visionBox {
		padding: 100px 15px 50px
	}
	#fifth {
		height: 630px
	}
	#fifth .marketPain .svg1,
	#fifth .redCabSolution .svg1 {
		bottom: 60px
	}
	#fifth .owl-bannerCarousel .owl-wrapper-outer {
		height: 410px
	}
	#fifth .owl-item,
	#fifth .tabsBox {
		padding: 0 30px;
		margin: 20px 0
	}
	#fifth .owl-item h1,
	#fifth .tabsBox h1 {
		font-size: 18px
	}
	#sixth {
		height: 630px
	}
	#seventh h1,
	#sixth h3 {
		font-size: 20px
	}
	#sixth p {
		font-size: 14px
	}
	#seventh {
		height: 550px
	}
	#seventh h3,
	#seventh h3 span {
		font-size: 35px;
		text-align: left
	}
	#footer #copyrights .copyrightLinks,
	#footer #copyrights p {
		text-align: center
	}
	#seventh .worldMapHolder {
		height: 400px;
		width: 400px
	}
	#seventh .worldMapHolder .worldMap {
		background-size: 619px auto
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] {
		background-position: 60px center
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.PuertoRico {
		left: 215px;
		top: 158px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.CostaRica {
		left: 190px;
		top: 176px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.Panama {
		left: 199px;
		top: 179px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.Nicaragua {
		left: 179px;
		top: 166px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=MENA] {
		background-position: -110px center
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=MENA] .locationPin.Lebanon {
		left: 222px;
		top: 130px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=MENA] .locationPin.Egypt {
		left: 207px;
		top: 138px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=Asiapacific] {
		background-position: 410px center
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=Asiapacific] .locationPin.India {
		left: 230px;
		top: 165px
	}
	@keyframes animateMap {
		0% {
			background-position: 619px center
		}
		100% {
			background-position: -619px center
		}
	}
	#eighth {
		height: 2100px
	}
	#eighth p {
		font-size: 14px
	}
	#meetUs #owl-meetUs .item h1,
	#partners h2 {
		font-size: 20px
	}
	#nineth .timelineHolder .year {
		margin: auto 0
	}
	#nineth .timelineHolder .story {
		width: 90%;
		padding: 40px 10px
	}
	#nineth .timelineHolder .story:before {
		top: 0;
		height: 100%;
		width: 12px
	}
	#nineth .timelineHolder .story:after {
		top: 20px;
		height: 50px;
		width: 70px;
		background-position: 10px -48px
	}
	#nineth .timelineHolder .story:nth-of-type(even),
	#nineth .timelineHolder .story:nth-of-type(odd) {
		margin-right: 0;
		margin-left: calc(10px - 0px);
		padding-right: 10px;
		padding-left: 50px
	}
	#nineth .timelineHolder .story:nth-of-type(even):before,
	#nineth .timelineHolder .story:nth-of-type(odd):before {
		right: auto;
		left: -6px
	}
	#nineth .timelineHolder .story:nth-of-type(even):after,
	#nineth .timelineHolder .story:nth-of-type(odd):after {
		right: auto;
		left: -7px;
		background-image: url(https://www.redcab.io/images/storyLine-otherSide.png)
	}
	#nineth .timelineHolder .story .happened:after,
	#nineth .timelineHolder .story:hover:after {
		background-position: 10px 1px
	}
	#nineth .timelineFooterHolder {
		top: -500px;
		width: 100%
	}
	#tenth .team .member {
		margin: 0 0 50px;
		height: 330px
	}
	#tenth .team .member .imgHolder .infoHolder {
		padding: 18%
	}
	#tenth .team .member .imgHolder .infoLink {
		margin: 0 10px
	}
	#tenth .team .member .imgHolder .infoLink span {
		width: 24px;
		height: 24px
	}
	#tenth .team .member:hover .imgHolder .infoHolder {
		bottom: -55%
	}
	#partners {
		height: 630px
	}
	#partners2 {
		height: 640px
	}
	#meetUs {
		height: 715px
	}
	#meetUs #owl-meetUs .owl-wrapper-outer {
		height: 520px
	}
	#meetUs #owl-meetUs .item {
		padding: 25px 25px 70px;
		margin: 0 10px
	}
	#news .newsHolder .newsBox .newsTitle,
	#securifySection a,
	#securifySection p {
		font-size: 14px
	}
	#meetUs #owl-meetUs .item .dateBoxHolder .dateBox {
		font-size: 14px;
		padding: 5px 10px;
		width: 95%
	}
	#meetUs #owl-meetUs .owl-pagination {
		bottom: 0
	}
	#news {
		height: 570px
	}
	#news .newsHolder {
		height: 285px
	}
	#news .newsHolder .newsBox {
		height: 95px;
		padding: 15px
	}
	#securifySection .form-group {
		min-height: 146px
	}
	#securifySection p {
		min-height: 42px
	}
	#footer {
		height: 650px
	}
	#footer .footerBox h1 {
		margin-bottom: 5px
	}
	#footer .footerBox ul {
		margin-bottom: 0
	}
	#footer .footerBox ul li {
		display: inline-block;
		width: 24%
	}
	#footer #copyrights {
		margin: 0 auto
	}
	#footer #copyrights .footerLogoHolder {
		text-align: center;
		margin-top: 15px
	}
	.subscribeHolder {
		margin: 15px 0 40px
	}
}

@media screen and (min-width:768.1px) and (max-width:1400px) {
	#header .navHolder #nav button.navbar-toggle {
		display: block
	}
	#header .navHolder #nav .collapse.navbar-collapse {
		display: none!important;
		position: absolute;
		right: 0;
		left: auto;
		top: 100%;
		background-color: #171717;
		width: 250px;
		padding: 15px
	}
	#header .navHolder #nav .collapse.navbar-collapse.in {
		display: table!important
	}
	#header .navHolder #nav .mainMenu,
	#header .navHolder #nav .navbar-nav.navigationBar>li,
	#header .navHolder #nav .navbar-right>li {
		float: none;
		display: block
	}
	#header .navHolder #nav .navbar-nav.navigationBar {
		display: block;
		float: none;
		text-align: center
	}
}

@media screen and (max-width:767px) {
	.icon-pluse:before,
	h1 {
		font-size: 30px
	}
	h3 {
		font-size: 20px
	}
	.amaizingSphereHolder {
		display: none
	}
	.owl-bannerCarousel .owl-pagination {
		left: 10px;
		right: 10px
	}
	.owl-bannerCarousel .owl-pagination .owl-page {
		width: 10px;
		height: 10px;
		margin-right: 10px
	}
	ul.withSpecialBullet>li {
		padding: 0 0 10px 40px;
		margin-bottom: 10px
	}
	#header .logoHolder {
		display: block;
		width: 248px;
		height: auto
	}
	#header .navHolder {
		display: block
	}
	#header .navHolder #nav {
		margin: 0;
		min-height: inherit;
		border: 0
	}
	#header .navHolder #nav .caret {
		color: #fff
	}
	#header .navHolder #nav .navbar-header {
		background-color: #171717
	}
	#header .navHolder #nav button.navbar-toggle {
		background: 0 0;
		margin: 8px
	}
	#header .navHolder #nav .navbar-collapse {
		position: absolute;
		right: 0;
		left: auto;
		top: 100%;
		background-color: #171717;
		width: 250px;
		padding: 15px
	}
	#header .navHolder #nav .navbar-nav.navigationBar {
		float: none;
		text-align: center;
		display: block;
		width: auto
	}
	#header .navHolder #nav .mainMenu,
	#header .navHolder #nav .navbar-nav.navigationBar>li {
		display: block;
		border-right: 0 none
	}
	#header .navHolder #nav .navbar-right>li,
	#header .navHolder #nav .navbar-right>li a {
		text-align: center
	}
	.iconBarHolder {
		right: 0;
		bottom: -210px
	}
	.iconBarHolder ul {
		-webkit-border-radius: 30px 30px 0 0;
		-moz-border-radius: 30px 30px 0 0;
		border-radius: 30px 30px 0 0
	}
	.iconBarHolder ul li.joinConver {
		width: 100%
	}
	.iconBarHolder ul li.joinConver a {
		padding: 10px 30px 10px 50px
	}
	.iconBarHolder.opened {
		bottom: 0
	}
	.buyToken,
	.joinWhiteList {
		padding: 5px 15px
	}
	.progressBar-holder .progressBarInner .progressLimit {
		font-size: 10px
	}
	#afterPresales {
		height: 1390px;
		padding: 170px 0 120px;
		background-size: auto 80%
	}
	#afterPresales .tokenSaleLive {
		font-size: 16px
	}
	#afterPresales .subTitle {
		font-size: 14px;
		text-align: center
	}
	#afterPresales .conterHolder .conterBoxesHolder .counterElement .counterDigit,
	#afterPresales .typewriterHolder * {
		font-size: 25px
	}
	#afterPresales .conterHolder {
		margin: 0 auto 50px
	}
	#afterPresales .conterHolder .counterInner {
		padding: 15px
	}
	#afterPresales .conterHolder .conterBoxesHolder .counterElement .counterText {
		font-size: 12px
	}
	#afterPresales .conterHolder .conterBoxesHolder .counterSepartor {
		font-size: 25px
	}
	#presales {
		height: 1700px;
		padding: 90px 0
	}
	#presales .box1 {
		margin-bottom: 20px
	}
	#presales h1 {
		font-size: 24px
	}
	#presales .bigTitle {
		font-size: 30px
	}
	#presales .canvasHolder .active_net {
		visibility: hidden
	}
	#presales .presalesIconHolder .presalesIcon p {
		font-size: 12px
	}
	#intro h1,
	#presales .conterHolder .conterBoxesHolder .counterElement .counterDigit,
	#presales .conterHolder .conterBoxesHolder .counterSepartor {
		font-size: 30px
	}
	#presales .conterHolder .conterBoxesHolder .counterElement {
		padding: 5px
	}
	#presales .shadowtransparentBG {
		display: none
	}
	#presales .presalesFooter {
		position: absolute;
		left: 0;
		width: 100%;
		z-index: 2;
		bottom: 0;
		top: auto;
		background: url(https://www.redcab.io/images/firstBG_footer.png) bottom left no-repeat;
		background-size: 100% auto;
		height: 312px
	}
	#intro .svg1 {
		background-size: 155% auto
	}
	#intro .svg2 {
		background-size: 235% auto
	}
	#intro .textwithBG {
		font-size: 14px;
		margin-top: 15px
	}
	#intro .whitePaper {
		display: block;
		font-size: 20px;
		margin: 50px auto;
		max-width: 235px
	}
	#second #video,
	#sixth .leftHandMobile {
		display: none
	}
	#fifth .tabsTube li a,
	#fifth .tabsTube li a:hover,
	#fourth .visionBox p {
		font-size: 14px
	}
	#intro .icon-whitepaper {
		top: -5px
	}
	#intro .grediantCircle {
		width: 250px;
		height: 250px;
		margin: 15px auto
	}
	#intro .grediantCircle .smallLogoHolder {
		padding: 20px 0 10px
	}
	#second .featureBox {
		padding: 0 15px 0 65px
	}
	#second .featureBox .featureSVG {
		width: 50px;
		height: auto;
		top: 15px
	}
	#second #featureBox1,
	#second #featureBox2,
	#second #featureBox3,
	#second #featureBox4 {
		margin-left: 0
	}
	#fourth {
		height: 845px
	}
	#fourth .visionBox {
		padding: 100px 15px 50px
	}
	#fifth {
		height: 520px
	}
	#fifth .owl-bannerCarousel .owl-wrapper-outer {
		height: 350px
	}
	#fifth .owl-item,
	#fifth .tabsBox {
		padding: 0 30px;
		margin: 20px 0
	}
	#sixth h3 {
		font-size: 20px
	}
	#sixth p {
		font-size: 14px
	}
	#seventh {
		height: 760px
	}
	#seventh h1 {
		font-size: 20px
	}
	#seventh h3,
	#seventh h3 span {
		font-size: 35px;
		text-align: left
	}
	#footer #copyrights .copyrightLinks,
	#footer #copyrights p {
		text-align: center
	}
	#seventh .worldMapHolder {
		height: 250px;
		width: 250px
	}
	#seventh .worldMapHolder .worldMap {
		background-size: 386px auto
	}
	#seventh .worldMapHolder .worldMap .locationPin {
		background-size: 100%;
		width: 19px;
		height: 27px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] {
		background-position: 60px center
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.PuertoRico {
		left: 158px;
		top: 106px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.CostaRica {
		left: 145px;
		top: 117px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.Panama {
		left: 150px;
		top: 118px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=LatinAmerica] .locationPin.Nicaragua {
		left: 136px;
		top: 110px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=MENA] {
		background-position: -80px center
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=MENA] .locationPin.Lebanon {
		left: 130px;
		top: 87px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=MENA] .locationPin.Egypt {
		left: 120px;
		top: 94px
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=Asiapacific] {
		background-position: -530px center
	}
	#seventh .worldMapHolder .worldMap[data-currentLocation=Asiapacific] .locationPin.India {
		left: 130px;
		top: 110px
	}
	@keyframes animateMap {
		0% {
			background-position: 386px center
		}
		100% {
			background-position: -386px center
		}
	}
	#eighth {
		/*height: 2850px*/
	}
	#eighth p {
		font-size: 14px
	}
	#nineth .timelineHolder .year {
		margin: auto 0
	}
	#nineth .timelineHolder .story {
		width: 90%;
		padding: 40px 10px
	}
	#nineth .timelineHolder .story:before {
		top: 0;
		height: 100%;
		width: 12px
	}
	#nineth .timelineHolder .story:after {
		top: 20px;
		height: 50px;
		width: 70px;
		background-position: 10px -48px
	}
	#nineth .timelineHolder .story:nth-of-type(even),
	#nineth .timelineHolder .story:nth-of-type(odd) {
		margin-right: 0;
		margin-left: calc(10px - 0px);
		padding-right: 10px;
		padding-left: 50px
	}
	#nineth .timelineHolder .story:nth-of-type(even):before,
	#nineth .timelineHolder .story:nth-of-type(odd):before {
		right: auto;
		left: -6px
	}
	#nineth .timelineHolder .story:nth-of-type(even):after,
	#nineth .timelineHolder .story:nth-of-type(odd):after {
		right: auto;
		left: -7px;
		background-image: url(https://www.redcab.io/images/storyLine-otherSide.png)
	}
	#nineth .timelineHolder .story .happened:after,
	#nineth .timelineHolder .story:hover:after {
		background-position: 10px 1px
	}
	#nineth .timelineFooterHolder {
		top: -350px;
		width: 100%
	}
	#tenth .team .member {
		margin: 0 0 50px;
		padding: 0
	}
	#tenth .team .member .imgHolder .infoHolder {
		padding: 18%
	}
	#tenth .team .member .imgHolder .infoLink {
		margin: 0 10px
	}
	#tenth .team .member .imgHolder .infoLink span {
		width: 16px;
		height: 16px
	}
	#tenth .team .member h1,
	#tenth .team .member p {
		min-height: 35px
	}
	#tenth .team .member p {
		font-size: 12px
	}
	#meetUs #owl-meetUs .item h1,
	#partners h2 {
		font-size: 20px
	}
	#tenth .team .member:hover .imgHolder .infoHolder {
		bottom: -55%
	}
	#partners {
		height: 900px
	}
	#partners2 {
		height: 590px
	}
	#partners2 .partnerBox img {
		width: 210px
	}
	#meetUs {
		height: 715px
	}
	#meetUs #owl-meetUs .owl-wrapper-outer {
		height: 520px
	}
	#meetUs #owl-meetUs .item {
		padding: 25px 25px 70px;
		margin: 0 10px
	}
	#news .newsHolder .newsBox .newsTitle,
	#securifySection a,
	#securifySection p {
		font-size: 14px
	}
	#meetUs #owl-meetUs .item .dateBoxHolder .dateBox {
		font-size: 14px;
		padding: 5px 10px
	}
	#meetUs #owl-meetUs .owl-pagination {
		bottom: -20px
	}
	#news {
		height: 940px
	}
	#news .newsHolder {
		height: 570px
	}
	#news .newsHolder .newsBox {
		height: 95px;
		padding: 15px
	}
	#securifySection .form-group {
		min-height: 70px
	}
	#securifySection img {
		max-width: 100%
	}
	#footer {
		padding: 30px 0 0;
		height: 650px
	}
	#footer .footerBox h1 {
		margin-bottom: 5px
	}
	#footer .footerBox ul li {
		display: inline-block;
		width: 46%
	}
	#footer #copyrights .footerLogoHolder {
		text-align: center;
		margin-top: 15px
	}
	.subscribeHolder {
		margin: 15px 0 40px
	}
}
#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}