<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     
    <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="keywords" content="">
	  <meta name="description" content="">
	  <!-- Bootstrap CSS
     ================================================== -->
	  <link rel="stylesheet" href="/css/bootstrap.min.css">
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  --}}

	  <!-- Animate CSS
     ================================================== -->
	  <link rel="stylesheet" href="/css/animate.min.css">

	  <!-- Font Icons CSS
     ================================================== -->
	  <link rel="stylesheet" href="/css/font-awesome.min.css">
	  <link rel="stylesheet" href="/css/ionicons.min.css">

	  <!-- Main CSS
     ================================================== -->
	  <link rel="stylesheet" href="/css/style.css">

	  <!-- Google web font 
     ================================================== -->	
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>

  </head>
  <body>
    {{> header}}
    {{{body}}}
    {{> footer}}

<!-- Javascript ================================================== -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <script src="/javascripts/dontClickRight.js"></script>
  <script src="/javascripts/smartContractSendETH.js"></script>
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/isotope.js"></script>
  <script src="/js/imagesloaded.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/custom.js"></script>

  </body>
</html>
