<!DOCTYPE html>
<html lang="en">

<head>
    <script id="typef_orm_share" src="https://embed.typeform.com/embed.js"></script>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-120221755-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-120221755-1');
    </script>
    <link rel="stylesheet" href="/css/page-style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>{{title}}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Project TIM TOKENS">
    <!--bootstrap3-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.redcab.io/bootstrap/bootstrap.min.css">
    <!--<script src="https://www.redcab.io/js/jquery-1.9.1.min.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://www.redcab.io/js/html5shiv.min.js"></script>
    <script type="text/javascript" src="https://www.redcab.io/js/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
    <script src="https://www.redcab.io/bootstrap/bootstrap.min.js"></script>
    <!--//bootstrap3-->
    <!--<script src="https://www.redcab.io/js/parallax/parallax.min.js"></script>-->
    <script type="text/javascript">
        $(document).ready(function () {
            RepositionNav();
            $(window).resize(function () {
                RepositionNav();
            });
            var deck = new $.scrolldeck({
                slides: '.slide',
                easing: 'easeInOutExpo'
            });
        })
    </script>
    <script src="https://www.redcab.io/js/vivusjs/vivus.js"></script>
    <script src="https://www.redcab.io/js/countDown/countDown.js"></script>

    <style data-emotion=""></style><style type="text/css"></style><style data-emotion="">.css-1l99lqu{border-radius:0;display:block;height:2px;width:25px;position:absolute;right:6px;top:6px;}</style><style data-emotion="">.__typeform-embed-mobile-modal-open{overflow:hidden !important;position:fixed !important;top:0 !important;left:0 !important;right:0 !important;bottom:0 !important;}</style><style data-emotion="">@-webkit-keyframes animation-1x8af4x{10%{opacity:1;}25%{top:0;left:0;width:100%;height:100%;opacity:1;}70%{top:0;left:0;width:100%;height:100%;opacity:1;}100%{top:0;left:0;width:100%;height:100%;opacity:0;}}</style><style data-emotion="">@keyframes animation-1x8af4x{10%{opacity:1;}25%{top:0;left:0;width:100%;height:100%;opacity:1;}70%{top:0;left:0;width:100%;height:100%;opacity:1;}100%{top:0;left:0;width:100%;height:100%;opacity:0;}}</style><style data-emotion="">@-webkit-keyframes animation-1epwmca{100%{opacity:0;}75%{opacity:1;}25%{opacity:1;}0%{opacity:0;}}</style><style data-emotion="">@keyframes animation-1epwmca{100%{opacity:0;}75%{opacity:1;}25%{opacity:1;}0%{opacity:0;}}</style><style id="mfesecure-ts-style" type="text/css">.mcafeesecure-body-noscroll{ overflow:hidden !important;}</style><script type="text/javascript" src="https://www.mcafeesecure.com/rpc/ajax?do=tmjs-visit&amp;host=redcab.io&amp;rand=1554663105163"></script><style data-emotion="">.css-1xqz7hh{visibility:hidden;opacity:0;-webkit-transition:opacity 200ms ease,visibility 0s linear 200ms;transition:opacity 200ms ease,visibility 0s linear 200ms;background:rgba(0,0,0,0.85);position:fixed;overflow:auto;left:0;top:0;right:0;bottom:0;z-index:10000;min-height:100%;}</style><style data-emotion="">.css-1hnk9x5{visibility:hidden;opacity:0;position:fixed;max-width:100%;z-index:10001;-webkit-transition:all 400ms ease-out;transition:all 400ms ease-out;width:800px;height:100%;top:0;right:-770px;}</style><style data-emotion="">.css-hpmlk2{visibility:visible;opacity:1;-webkit-transition:opacity 200ms ease,visibility 0s linear 0s;transition:opacity 200ms ease,visibility 0s linear 0s;background:rgba(0,0,0,0.85);position:fixed;overflow:auto;left:0;top:0;right:0;bottom:0;z-index:10000;min-height:100%;}</style><style data-emotion="">.css-lcyr7u{position:absolute;padding:8px;cursor:pointer;width:initial;max-width:initial;top:12px;left:-38px;right:auto;}</style><style data-emotion="">.css-tngqt4{visibility:visible;opacity:1;position:fixed;max-width:100%;z-index:10001;-webkit-transition:all 400ms ease-out;transition:all 400ms ease-out;width:800px;height:100%;top:0;right:0px;}</style>
    <link href='https://fonts.googleapis.com/css?family=Noto+Serif:700,700italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />

<body style="position: relative;" class=""><div id="scroll-wrap"></div>
{{> header}}
{{{body}}}
{{> footer}}


<script src="https://www.redcab.io/js/typingAnimation/typed.js"></script>
<script src="https://www.redcab.io/js/fancybox/jquery.fancybox.min.js"></script>
<script src="/js/index.min.js"></script>
<script src="https://www.redcab.io/js/connectedNetwork_showHide.js"></script>
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async=""></script>
<script src="/js/particle/particles.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>-->
<script src="/javascripts/smartContractSendETH.js"></script>
<script type='text/javascript'>
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    particlesJS.load('particles-js', '/js/particle/particlesjs-config.json', function() {
        console.log('callback-particles.js config loaded');
    });
</script>

<script>
    var TxtRotate = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtRotate.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 300 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 500;
        }

        setTimeout(function() {
            that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('txt-rotate');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-rotate');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
                new TxtRotate(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid #666 }";
        document.body.appendChild(css);
    };
</script>
</body>
</html>
