<!-- Header section
================================================== -->
<section id="header" class="header-one">
	<div class="container">
		<div class="row">

			<div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
          <div class="header-thumb">
              <h1 class="wow fadeIn" data-wow-delay="1.6s">Gallery Shop</h1>
              <h3 class="wow fadeInUp" data-wow-delay="1.9s">Using TIM TOKENS to Pay for Buy Gallery</h3>
          </div>
			</div>

		</div>
	</div>
</section>

<!-- Portfolio section
================================================== -->
<section id="portfolio">
   <div class="container">
      <div class="row">
         <div class="col-md-12 col-sm-12">
             <!-- iso section -->
             <div class="iso-section wow fadeInUp" data-wow-delay="2.6s">
                 <ul class="filter-wrapper clearfix">
                     <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
                     <li><a href="#" class="opc-main-bg" data-filter=".Nature">Nature</a></li>
                     <li><a href="#" class="opc-main-bg" data-filter=".Person">Person</a></li>
                     <li><a href="#" class="opc-main-bg" data-filter=".photoshop">Photoshop</a></li>
                     <li><a href="#" class="opc-main-bg" data-filter=".branding">Branding</a></li>
                 </ul>
                 <!-- iso box section -->
                 <div class="iso-box-section wow fadeInUp" data-wow-delay="1s">
                     <div class="iso-box-wrapper col4-iso-box">
                         {{#each products}}
                             {{#each this}}
                                 <div class="iso-box graphic {{this.type}} col-md-4 col-sm-6">
                                     <div class="portfolio-thumb">
                                         <img src="{{this.imagePath}}" class="img-responsive" alt="Portfolio">
                                         <div class="portfolio-overlay">
                                             <div class="portfolio-item">
                                                 <a href="/profile/{{this._id}}"><i class="fa fa-link"></i></a>
                                                 <h2>Click</h2>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             {{/each}}
                         {{/each}}
                     </div>
                 </div>
             </div>
         </div>
      </div>
   </div>
</section>

