<section id="header" class="header-two">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                <div class="header-thumb">
                    <h1 class="wow fadeIn" data-wow-delay="1.6s">Project title</h1>
                    <h3 class="wow fadeInUp" data-wow-delay="1.9s">{{id.address}}</h3>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Single Project section
================================================== -->
<section id="single-project" style="background-color: #f6f6f6">
    <div class="container">
        <div class="row">
            <div class="wow fadeInUp col-md-12 col-sm-12" data-wow-delay="2.3s">
                <div class="project-info">
                    <h4>TYPE: {{id.type}}</h4>
                    <h4>ADDRESS: {{id.address}}</h4>
                    <h4>PRICE: {{id.price}} TIM TOKENS</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="wow fadeInUp col-md-9 col-sm-9" data-wow-delay="2.6s" >
                <img src="/{{id.imagePath}}" class="img-responsive " style="padding-top: 0px;" >
                <!--<center><button id="button" style="padding-top: 5%;">Buy Iamge</button></center>-->

            </div>
            <div class="wow fadeInUp col-md-3 col-sm-3" data-wow-delay="2.6s" style="background-color: rgba(104,104,104,0.76); border: 2px solid white;padding-top: 0px;">
                <div class="row" style="padding: 10%;">
                    <a href="#" id="button" class="button2">Buy</a>
                    <a href="/{{id.imagePath}}" id="download" class="button2 disabled"  download>Download</a>
                </div>

            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" data-my_var_1="{{id.address}}" data-my_var_2="{{id.price}}" src="/javascripts/smartContractTimToken.js"></script>
