<section id="header" class="header-two">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                <div class="header-thumb">
                    <h1 class="wow fadeIn" data-wow-delay="1.6s">1 ETH = 100 TIM TOKENS</h1>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Single Project section
================================================== -->
<section id="single-project" style="background-color: #f6f6f6" >
    <div class="container wow fadeIn" data-wow-delay="2.1s">
        <div class="row" style="background-color: #b0b0b0; padding-top: 5%;">
            <center>
                <span style="font-size: 2.5rem;">PAY ETH TO ADDRESS: 0x88D1c3eb41ECADdb6dd8797F1661Bdd2eC31047B </span>
                <form class="form-inline" style="padding-top: 5%;">
                    <div class="row">
                        <input class="textbox-create" id="addressSender" style="width: 40%;"  placeholder="YOUR ADDRESS">
                        <input class="textbox-create" id="eth"  style="width: 10%;" value="0.5" placeholder="ETH">
                        <input class="textbox-create" id="tim"  style="width: 10%;" value="50" placeholder="TIM TOKENS" disabled>
                        <a href="#" id="confirm" class="button2"  placeholder="ETH">CONFIRM</a>
                        <!--disabled-->
                        <a href="#" id="claim" class="button2 disabled">UNLOCK TO SEND EMAIL</a>
                    </div>
                </form>
            </center>
        </div>

        <div class="row" style="background-color: #b0b0b0; padding-top: 5%;">
            <center>
                <span style="font-size: 2.5rem;">SEND EMAIL TO SIRIPHAT_HOMNAN@HOTMAIL.COM <br>RECEIVE TIM TOKENS </span>
                <form class="form-inline" method="POST" action="send" style="padding-top: 5%;">
                    <div class="row">
                        <input class="textbox-create disabled-gray" id="email" name="email" type="email" placeholder="EMAIL ADDRESS"><br>
                        <input class="textbox-create disabled-gray" id="password" name="password"  type="password" placeholder="PASSWORD"><br>
                    </div>
<!--disabled-gray add to below class-->
                    <div class="row">
                        <input class="textbox-create disabled-gray " id="transaction" name="transaction"  type="text" placeholder="TRANSACTION"><br>
                        <input class="textbox-create disabled-gray" id="ethShow" name="ethShow"  placeholder="ETH" disabled><br>
                        <input class="textbox-create disabled-gray" id="timShow" name="timShow"  placeholder="TIM TOKENS" disabled><br>
                        <textarea class="disabled-gray" name="message" id="message" rows="10" style="width: 40%;"></textarea><br>
                        <button class="button2 disabled-gray" name="sendEmail" id="sendEmail">SEND EMAIL</button><br>
                    </div>
                </form>
            </center>
        </div>
    </div>
</section>
