<section id="header" class="header-two">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                <div class="header-thumb">
                    <h1 class="wow fadeIn" data-wow-delay="1.6s">OK</h1>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Single Project section
================================================== -->
<section id="single-project" style="background-color: #f6f6f6" >
</section>

