<section id="header" class="header-two">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                <div class="header-thumb">
                    <h1 class="wow fadeIn" data-wow-delay="1.6s">UPLOAD IMAGE</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Single Project section ================================================== -->
<section id="single-project" style="background-color: #f6f6f6" >
    <div class="container">
        <div class="row" style="background-color: #b0b0b0; padding-top: 5%;">
            <center>
                <b><span style="font-size: 2.5rem;">Upload Image </span></b>
                <form class="form-inline" style="padding-top: 5%;" action="upload" method="GET">
                    <div class="row">
                        <input class="textbox-create" name="address" id="address" style="width: 40%;"  placeholder="YOUR ADDRESS"><br>
                        <input class="textbox-create" name="name" id="name"  style="width: 40%;" placeholder="YOUR NAME"><br>
                        <input class="textbox-create" name="price" id="price"  style="width: 40%;" placeholder="PRICE"><br>
                        <select class="textbox-create">
                            <option class="textbox-create" value="nature">NETURE</option>
                            <option class="textbox-create" value="person">PerSON</option>
                            <option class="textbox-create" value="dark">DARK</option>
                            <option class="textbox-create" value="wonderful">WONDERFUL</option>
                        </select><br>
                        <input class="textbox-create" id="FILE" type="file"  style="width: 40%; background-color: white;" placeholder="PRICE"><br>
                        <button class="button2" style="margin: 3%;">UPLOAD</button>
                    </div>
                </form>
            </center>
        </div>
    </div>
</section>


