<div id="wrapper">
        <!-- ****** Header Area Start ****** -->
    <header class="header_area">
        <!-- Top Header Area Start -->
        <div class="top_header_area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-end">
                    <div class="col-12 col-lg-7">
                        <div class="top_single_area d-flex align-items-center">
                            <!-- Logo Area -->
                            <div class="top_logo">
                                <a href="#"><img src="img/core-img/logo.png" alt="" style="max-width: 30%;"></a>
                            </div>
                            <!-- Cart & Menu Area -->
                            <div class="header-cart-menu d-flex align-items-center ml-auto">
                                <div class="header-right-side-menu ml-15">
                                    <a href="#" id="sideMenuBtn"><i class="ti-menu" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->
    <section class="single_product_details_area section_padding_0_100">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({{id.imagePath}});">
                                </li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <a class="gallery_img" href="/{{id.imagePath}}">
                                        <img class="d-block w-100" src="/{{id.imagePath}}" alt="First slide">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="single_product_desc">
                        <h4 class="title"><a href="#">{{id.name}}</a></h4>
                        <h4 class="price">{{id.price}} TIM TOKENS</h4>
                        <p class="available">Available: <span class="text-muted">In Stock</span></p>
                        <div class="single_product_ratings mb-15">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                        <h6>ADDRESS: {{id.address}}</h6>
                        <!-- Add to Cart Form -->

                            <div class="form-group">
                                <div class="inline">
                                    <label for="name" style="width: 15%">Name</label>
                                    <input type="text" id="name" name="name" placeholder="Your name..">
                                </div>
                                <div class="inline">
                                    <label for="address" style="width: 15%">Address</label>
                                    <input type="text" id="address" name="address" placeholder="Your address..">
                                </div>
                                <div class="inline">
                                    <label for="phone" style="width: 15%">Phone</label>
                                    <input type="text" id="phone" name="phone" placeholder="Your phone..">
                                </div>
                                <div class="inline">
                                    <label for="email" style="width: 15%">Email</label>
                                    <input type="text" id="email" name="email" placeholder="Your email..">
                                </div>
                            </div>


                            <a id="button" name="button" class="btn button cart-submit d-block">BUY</a>



                        <div id="accordion" role="tablist">
                            <div class="card">
                                <div class="card-header" role="tab" id="headingOne">
                                    <h6 class="mb-0">
                                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Information</a>
                                    </h6>
                                </div>
                                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        {{id.detail}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> -->
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" data-my_var_1="{{id.address}}" data-my_var_2="{{id.price}}" src="/javascripts/smartContractTimToken.js"></script>
