<!-- ****** Footer Area Start ****** -->
<footer class="footer_area" style="background-color: black; position: absolute; width: 100%;">
    <div id="bottom" class="slide" >
        <div id="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row">
                            <div class="col-sm-12 ">
                                <div class="footerBox">
                                    <h2 class="footerTitle"><span>Join</span> our Community</h2>
                                    <ul class="ulList">
                                        <li><a href="/" target="_blank"><span class="fab fa-facebook-square"></span> Facebook</a></li>
                                        <li><a href="/" target="_blank"><span class="fab fa-linkedin"></span> LinkedIn</a></li>
                                        <li><a href="/" target="_blank"><span class="fab fa-twitter-square"></span> Twitter</a></li>
                                        <li><a href="/" target="_blank"><span class="fab fa-btc"></span> bitcointalk.org</a></li>
                                        <li><a href="/" target="_blank"><span class="fab fa-telegram"></span> Telegram</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-2">
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div id="copyrights">
                            <div class="row">
                                <div class="col-sm-5"></div>
                                <div class="col-sm-2">
                                    <div class="footerLogoHolder"><img class="footerLogo" src="/img/core-img/logo3.png" style="width: 50%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ****** Footer Area End ****** -->