<div class="preloader" style="opacity: 0; display: none;">
    <div class="preloaderIcon"></div>
</div>
<header id="header">
    <div class="logoHolder">
        <center><a href="/"><img src="/img/core-img/logo2.png" style="width: 50%"></a></center>
    </div>
    <div class="navHolder">
        <nav id="nav" class="navbar">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 0px;">
                <ul class="nav navbar-nav navigationBar">
                    <li class="mainMenu hide"><a class="goToBtn current" href="#presales">Home</a></li>
                    <li class="mainMenu"><a class="goToBtn" href="#seventh">Global Reach</a></li>
                    <li class="mainMenu"><a class="goToBtn" href="#eighth">ICO Details</a></li>
                    <li class="mainMenu"><a class="goToBtn" href="#tenth">Core Team</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/" target="_blank" title="White paper" class="whitePaper">White paper <span class="icon-whitepaper"></span></a></li>
                    <li><a href="/" target="_blank" title="Bitcointalk.org"><span class="icon-bitcoin"></span></a></li>
                    <li><a href="/" target="_blank" title="Telegram"><span class="icon-telegram"></span></a></li>
                    <li><a href="/" target="_blank" title="FAQs"><span class="icon-faq"></span></a></li>
                </ul>
            </div>
        </nav>
    </div>

</header>

<div class="iconBarHolder">
    <ul class="ulList">
        <li class="joinConver"><a target="_blank">Join the conversation</a></li>
        <li><a href="/" title="Twitter" target="_blank"><img src="https://www.redcab.io/images/socialicons/socialIcon_01.png"></a></li>
        <li><a href="/" title="Facebook" target="_blank"><img src="https://www.redcab.io/images/socialicons/socialIcon_02.png"></a></li>
        <li><a href="/" title="Instagram" target="_blank"><img src="https://www.redcab.io/images/socialicons/socialIcon_03.png"></a></li>
        <li><a href="/" title="Telegram" target="_blank"><img src="https://www.redcab.io/images/socialicons/socialIcon_04.png"></a></li>
        <li><a href="/" title="Linkedin" target="_blank"><img src="https://www.redcab.io/images/socialicons/socialIcon_05.png"></a></li>
        <li><a href="/" title="VK" target="_blank"><img src="https://www.redcab.io/images/socialicons/socialIcon_06.png"></a></li>
        <li><a href="/" title="Medium" target="_blank"><img src="https://www.redcab.io/images/socialicons/socialIcon_07.png"></a></li>
        <li><a href="/" title="Youtube" target="_blank"><img src="https://www.redcab.io/images/socialicons/socialIcon_08.png"></a></li>
        <li><a href="/" title="Github" target="_blank"><img src="https://www.redcab.io/images/socialicons/socialIcon_09.png"></a></li>
        <li><a href="/" title="Reddit" target="_blank"><img src="https://www.redcab.io/images/socialicons/socialIcon_010.png"></a></li>
    </ul>
</div>
